.bpimage_center
	.bpimage_image
		a(href="#")
			img(src='../../images/onb/2019/sp/leaf_1.png', alt='')
		.bpimage_caption （写真＝Shutterstock）

p タイのバンコクから車で1時間ほど東に入ったラッカバン工業団地に、三菱重工業のエアコン生産を手掛けるミツビシ・ヘビーインダストリーズ・マハジャック・エアコンディショナーズ（MACO）社の工場がある。

p ラッカバン工業団地に、三菱重工業のエアコン生産を手掛けるミツビシ・ヘビーインダストリーズ・マハジャック・エアコンディショナーズ（MACO）社の工場がある。<br>エアコンを組み立てるタイ人従業員らは大忙しだ。2017年の生産台数は10年前に比べると2.4倍。18年2月には約30億円を投じて建設した2つの工場が新たに稼働した。