.creationList
	- for(var i = 1; i <= 10; i++)
		.creationListItem
			a(href='#')
				.creationListContent
					.creationListTitle
						span 連載タイトルが入ります。
						h3 タイトルが入ります。タイトルが入ります。タイトルが入ります。32w
					.creationListDescription 2018.MM.DD 一切の前提条件なしに、年末までに平和条約を締結しよう――。ロシアのプーチ年末までに平和条約を締結しよう――。ロシアのプー
					.creationListIcon
						span.creationListIconComment
							i.icon.iconComment
							| 12
						span.creationListIconLike
							i.icon.iconLike
							| 76 %
				.creationListImg
					img(src='../../images/onb/2019/creation_list.png', alt='')
