//hr.devide
.featureBox
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.featureBoxContent
		.featureBoxTag 特集
		.featureBoxTitle 
			h2 三菱重工　巨艦はこうして蘇った
		a(href="#")
			.featureBoxItem
				.featureBoxLeft
					.featurePartDate PART6  2018.MM.DD
					.featureTitle 
						h3 さっそうと舞うMRJが映す組織改革の集大成
				.featureBoxImg
					img(src='../../images/onb/2019/feature-1.png', alt='')
		a(href="#")
			.featureBoxItem
				.featureBoxLeft
					.featurePartDate PART5  2018.MM.DD（閲覧中）
					.featureTitle 
						h3 改革は9合目まで来た　宮永俊一氏［三菱重工業社長兼CEO（最高経営責任者）］
				.featureBoxImg
					img(src='../../images/onb/2019/feature-2.png', alt='')
		a(href="#")
			.featureBoxItem
				.featureBoxLeft
					.featurePartDate PART4  2018.MM.DD
					.featureTitle 
						h3 爆走中国EV、電池業界に起きている異変
				.featureBoxImg
					img(src='../../images/onb/2019/feature-3.png', alt='')
		a(href="#")
			.featureBoxItem
				.featureBoxLeft
					.featurePartDate PART3  2018.MM.DD
					.featureTitle 
						h3 デジタル大競争時代 日本の製造業が生きる道　ライバルは先を行く
				.featureBoxImg
					img(src='../../images/onb/2019/feature-4.png', alt='')
		.featureBoxButton 
			a(href='#') 特集目次
