.glowingCommentHeader
	img(src='../../images/onb/2019/iconStarRed.png', alt='')
	| 光るコメント
ul.glowingCommentBox
	- for(var i = 1; i <= 12; i++)
		li
			a(href='#').glowingCommentItem
				.glowingCommentAuthor
					.avatarCicrle.sizeForty
						img(src='../../images/onb/2019/Oval40.png', alt='')
					p.glowingCommentAuthorName 長谷川 一旗
					p.glowingCommentAuthorAddr 東北大学3年　経済学部
				.glowingCommentContent オンラインインターン初投稿です。新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。   そのうえで、三菱商事三浦様に質問ですが・ヒント①に関連して、N社およびB社のインドネシアでしたここで約100…
				.glowingCommentInfo
					.glowingCommentInfoDate 2018.MM.DD
					.glowingCommentInfoLike
						img(src='../../images/onb/2019/iconLike.png', alt='')
						| 76

			.glowingCommentRaise
				a(href='#')
					.glowingCommentRaiseTag Raise
					.glowingCommentRaiseContent 中国の経済方針大転換で、市場は小春日和の趣き…


