
section.giftModule
	.shareGift
		ul
			li.shareGiftIconTitle
				.shareGiftIcon
					img(src='../../images/onb/2019/giftIconBlack.png', alt='')
					p.shareGiftTitle ギフトシェア
			li.giftDescrip
				p この記事は日経ビジネス電子版有料会員によってシェアされました。<br>
					|XX月XX日 XX時XX分まで記事全文がお読みいただけます。
			li.shareGiftMembers 
				a(href="#") 日経ビジネス電子版 
				a(href="#").shareGiftTitleRed 有料会員お申し込み
			li
				a(href="#") 会員の方 
				a(href="#").shareGiftTitleRed ログイン
		a(href="#").giftClose
			img(src='../../images/onb/2019/incon_close_20x20.png', alt='')
