.postList
	- for(var i = 1; i <= 10; i++)
		.postListItem
			a(href='#')
				.postListContent
					.postListTitle
						span 第1回　2018.MM.DD公開
						h3 フォーラムタイトルが入ります
					.postListDescription 一切の前提条件なしに、年末までに平和条約を締結しよう――。ロシアのプーチン大統領が今月中旬、ウラジオストクでの東方経済フォーラムの全体会合で意表を突く提案を日本に投げかけた。その意図はなにか。ロシアの著名な国…
					.postListIcon
						span.postListIconComment
							i.icon.double_comment
							| 25人が参加
				.postListImg
					img(src='../../images/onb/2019/post_2.png', alt='')

.btnReadMoreComponent
	a(href="#") もっと見る
		img(src='../../images/onb/2019/btnReadMore.png', alt='')
