ul.recommendArticle
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle アマゾンは怖くない　『選ばれる...
					.recommendArticleSummary 米国発、焦土の先の未来。生存競争から生まれる知恵
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle 企業研究
					.recommendArticleSummary 「一発屋」で終わらない。小林製薬｜日用品・医薬品
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle BOOK　話題の本、注目の本 
					.recommendArticleSummary 「死」の側から照らす「生」の輪郭。THIS WEEK'S THEME 日本の夏
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle BOOK　話題の本、注目の本 
					.recommendArticleSummary 「死」の側から照らす「生」の輪郭。THIS WEEK'S THEME 日本の夏
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle もやもやニュース、すっきり解説 
					.recommendArticleSummary PERとPBR、何が違う？　株価水準を測る2つの指標
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle 日経ビジネス読み解きヒント 
					.recommendArticleSummary 「体験」から始まるストーリー。店舗が提供する価値とは？
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle アマゾンは怖くない　『選ばれる... 
					.recommendArticleSummary 米国発、焦土の先の未来。生存競争から生まれる知恵
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle 企業研究 
					.recommendArticleSummary 「一発屋」で終わらない。小林製薬｜日用品・医薬品
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle PR：〜首都圏近郊は飽和状態～
					.recommendArticleSummary 良好なアクセスと広大な面積を誇る、東日本の産業拠点
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')
	li
		a(href="#")
			.recommendArticleItem
				.recommendArticleContent
					.recommendArticleTitle PR：〜首都圏近郊は飽和状態～
					.recommendArticleSummary 良好なアクセスと広大な面積を誇る、東日本の産業拠点
				.recommendArticleImg
					img(src='../../images/onb/2019/Rectangle_2.png', alt='')