section.fullWidth
    .headerBlock
        img(src='../../images/onb/2019/raise_logo.png',alt='')
        .headerTitle
            p.title Raise
            p 読者・著者による時事のテーマ議論
        a(href='#') Raise 議論一覧 &gt;
    .bodyBlock
        ul.raiseList
            - for (var i = 0; i < 4; ++i)
                li
                    a(href='#')
                        .itemHeader
                            span.flag オンラインインターン vol.5
                            img(src='../../images/onb/2019/search_map_big.png',alt='')
                            p.title ［大学生限定］夏休みの体験を大募集
                        .itemContent
                            .avatarCicrle.sizeThirtyTwo
                                img(src='../../images/onb/2019/Oval18.png',alt='')
                            p.itemTitle
                                | 小寺圭吾
                                span 早稲田大学
                            p.itemDesciption コメント内容50文字が入ります。コメント内容50文字が入ります。コメント内容50文字が…
                            .itemComment
                                i.icon.double_comment
                                span 22人が参加