section.glowingComment
    - var title = '光るコメント'
        include ../../shared/component/_title_box
        span.besideTitleBox 仮）記事・Raiseのコメントから際立ったものを編集部がピックアップ。

    ul.listGlowingComment
        - for (var i = 0; i < 3; ++i)
            li
                a(href="#")
                    .commentItem
                        .commentHead
                            .left
                                .avatarCicrle.sizeThirtyTwo
                                    img(src='../../images/onb/2019/Oval1.png',alt='')
                            .right
                                p.CommentTitle 長谷川 一旗
                                p.CommentSubTitle 東北大学3年　経済学部
                        p.commentDesciption オンラインインターン初投稿です。新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。   そのうえで、三菱商事三浦様に質問ですが・ヒント①に関連して、N社およびB社のインドネシアでしたここで約100文字…
                        .commentBottom
                            p.date 2018.MM.DD
                            img(src='../../images/onb/2019/likeIcon.png', alt='')
                            span 76
                a(src='#')
                    span.raise Raise
                    span 中国の経済方針大転換で、市場…
    a.newArticleList 光るコメント一覧 &gt;