- var keywords = ["#新市場", "#ウォルマート",'#AI','#V字回復','#新市場','#ウォルマート','#AI','#V字回復','#新市場','#ウォルマート','#AI','#V字回復',"#新市場", "#ウォルマート",'#AI','#V字回復'];
		
.swiper-container.keywordSwiperContainer
	.swiper-wrapper
		for key in keywords
			.swiper-slide
				a(href='#')= key