section
    ul.listArticle
        li
            a(href='#')
                .articleContent
                    p.category アマゾンは怖くない　『選ばれる小売り』
                    p.title 米国発、焦土の先の未来。生存競争から生まれる知恵
                    .likeAndComment
                        img(src='../../images/onb/2019/commentIcon.png',alt='')
                        span.firstElement 12
                        img(src='../../images/onb/2019/likeIcon.png',alt='')
                        span 76%
                .articleThumb
                    img(src='../../images/onb/2019/img01.png',alt='')

        li
            a(href='#')
                .articleContent
                    p.category BOOK　話題の本、注目の本
                    p.title 「死」の側から照らす「生」の輪郭。THIS WEEK'S THEME 日本の夏
                    .likeAndComment
                        img(src='../../images/onb/2019/commentIcon.png',alt='')
                        span.firstElement 12
                        img(src='../../images/onb/2019/likeIcon.png',alt='')
                        span 76%
                        img.crown(src='../../images/onb/2019/rank-1.png',alt='')
                        span.crown アクセス1位
                .articleThumb
                    img(src='../../images/onb/2019/img01.png',alt='')
