section.topArticle
    .topItem
        a(href='#')
            img(src='../../images/onb/2019/Rectangle_11.png',alt='')
            p.flag 特集
            p.point 全4回
            p.title
                | 営業利益率40％
                | 実例と戦略 隠れ高収益企業
    ul.similarItem
        li
            a(href='')
                p.point 全4回
                p.title 超高収益を生む 10の源泉 強い会社はここが違う
                p.description リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキスト…
        li
            a(href='')
                p.point 第3回
                p.title 好業績の罠に注意 経営革新を緩めるな　識者に聞く、…
                p.description リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキストが入ります。リードテキスト…

    a.linkListtopArticle(href='#') 特集目次 >