.boxSocial
	ul.social.socialThird
		li
			a.facebookLink(href='#')
				.btnLabel
				.titleLabelFb シェア
		li
			a.twitterLink(href='#')
				.btnLabel
				.titleLabelTw シェア
		li
			a.giftLink.isClose(href='#')
				.btnLabel
				.titleLabelGt ギフトシェア
		li
			a.urlLink(href='#')
				.btnLabel
				.titleLabelUl URLコピー
		li
			a.fileLink.isOpen(href='#')
				.btnLabel
				.titleLabelFe クリップ中
