li
    .commentItemLeft
        .avatarCicrle.sizeThirtyTwo
            img(src='../../images/onb/2019/Oval6.png', alt='')
    .commentItemRight
        a(href='#').iconBall
            img(src='../../images/onb/2019/commentFunction.png', alt='')
        p.textAuthor 北西 厚一
        p.textAuthorTitle 日経ビジネス編集部
        .commentItemRightContent
            p
                | オンラインインターン初投稿です。
            p
                | 新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。
            p.paragraph
                | そのうえで、三菱商事三浦様に質問ですが
            p
                | ・ヒント①に関連して、N社およびB社のインドネシアでのマーケットシェアはどれくらいでしょうか？)
                span.commentReadmore
                    a(href='#')
                        |  ...続きを読む
            p
                | ・ヒント②に関して、具体的に他のメーカーがいくら値上げするかは決まっていますか？(最終的に値段を決定する以上、値上げ後の相場をおさえておきたいです。)…

        .commentIcon
            span.commentTime
                | 10分前
            span.commentlike
                i.icon.iconLike
                |  18
            span.commentReply
                a(href='#')
                    | 返信

            span.commentVoteLike
                a(href='#')
                    | いいね！
            

li
    .commentItemLeft
        .avatarCicrle.sizeThirtyTwo
            img(src='../../images/onb/2019/Oval1.png', alt='')
    .commentItemRight
        a(href='#').myIconBall
            img(src='../../images/onb/2019/commentFunction.png', alt='')
        //- span.comentGlowing
        //-     i.icon.iconStarRed
        //-     | 光るコメント
        p.textAuthor 吉野 次郎
        p.textAuthorTitle 日本経済新聞社記者
        .commentItemRightContent.on
            p
                | 具体的に他のメーカーがいくら値上げするかは決まっていますか？(最終的に値段を決定する以上、値上げ後の相場をおさえておきたいです。)

        .commentIcon
            span.commentTime
                | 5分前
            span.commentlike
                i.icon.iconLike
                | 18
            
            span.commentReply
                a(href='#')
                    | 返信

            span.commentVoteLike
                a(href='#')
                    | いいね！

        .commentShowReply
            a(href='#')
                | 3件の返信を表示
                i.icon.iconReplyDown
li
    .commentItemLeft
        i.icon.iconFill
        .avatarCicrle.sizeThirtyTwo
            img(src='../../images/onb/2019/Oval5.png', alt='')
    .commentItemRight
        a(href='#').iconBall
            img(src='../../images/onb/2019/commentFunction.png', alt='')
        p.textAuthor 吉野 次郎
        p.textAuthorTitle 日本経済新聞社記者
        .commentItemRightContent.on
            p
                | 具体的に他のメーカーがいくら値上げするかは決まっていますか？(最終的に値段を決定する以上、値上げ後の相場をおさえておきたいです。)

        .commentIcon
            span.commentTime
                | 1分前
            span.commentlike
                i.icon.iconLike
                | 18
            span.commentReply
                a(href='#')
                    | 返信

            span.commentVoteLike
                a(href='#')
                    | いいね！