a(href="#").imageTitle
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.divOverlayIE
	.categoryLabel.categoryLabelSpecial 特集
	.textTitle 三菱重工　巨艦はこうして蘇った
	.modalIcon
		img(src='../../images/onb/2019/modalIcon.png', alt='')
.mainHeader
	p.shoulder PART 5
	h1 生き残りへ3つの突破口タイトル。
	p.subTitle 日系各社のビジネス戦略にも変化が
	.leafAuthor
		.authorAvatar
			.avatarCicrle.sizeForty
				img(src='../../images/onb/2019/author_avatar.png', alt='')
		.authorInfo
			.authorName
				.fullName 谷口 徹也
				.numberImages
					span 他 3名
					img(src='../../images/onb/2019/imageNumberIcon.png', alt='')
			.authorLevel 日経ビジネスベーシック編集長
	.leafActionInfo
		.leafInfo
			time 2018年8月24日
			.leafLockIcon.iconOpen
			.likeAndComment
					img(src='../../images/onb/2019/commentIcon.png', alt='')
					span.firstElement 12
					img(src='../../images/onb/2019/likeIcon.png', alt='')
					span 70%
		.leafAction
			.boxSocial
				ul.social
					li
						a.facebookLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/printIcon.png', alt='')
							.titleLabel 印刷
					li
						a.twitterLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/viewerIcon.png', alt='')
							.titleLabel 誌面で読む
					li.clipLinkPopup
						a.fileLink.isClose(href='#')
							.btnLabel
							.titleLabelFe クリップ中