.bpbox_center
	.bpimage_center(style='width: 500px;')
		.bpimage_image
			a(href="#")
				img(src='../../images/onb/2019/leaf_1.png', alt='', width='500px')
		.bpimage_caption 画像のキャプションが入ります。画像のキャプションが入ります。
		.bpimage_click.textColRed [画像を拡大]
p タイのバンコクから車で1時間ほど東に入ったラッカバン工業団地に、三菱重工業のエアコン生産を手掛けるミツビシ・ヘビーインダストリーズ・マハジャック・エアコンディショナーズ（MACO）社の工場がある。<br>エアコンを組み立てるタイ人従業員らは大忙しだ。2017年の生産台数は10年前に比べると2.4倍。18年2月には約30億円を投じて建設した2つの工場が新たに稼働した。

p ところが、国交省の幹線鉄道課に足を運んでも、「財投の専門家ではないし、融資スキームなど説明できない」という。そこで、財務省理財局の財投総括課に聞くと、「僕らが（融資条件を）設定しているわけではない。国交省さんじゃないですか」と堂々巡りになる。<br>「僕らが（融資条件を）設定しているわけではない。国交省さんじゃないですか」と堂々巡りになる。

.commentAdd
	.authorComment
		.authorCommentAvatar
			.avatarCicrle.sizeThirtyTwo
				img(src='../../images/onb/2019/avatarCommentIcon.png', alt='')
		.authorCommentInfo
			.authorCommentName 佐野 祐介
			.authorCommentLevel 日本経済新聞記者
		.authorCommentText コメント内容コメント内容コメント内容コメント内容コメント内容コメント内容コメント内容 コメント内容コメント内容コメント内容コメント内容コメント内容コメント
		time 2018.10.3
		.authorCommentLike
			img(src='../../images/onb/2019/likeCommentIcon.png', alt='')
			span 54


p タイのバンコクから車で1時間ほど東に入ったラッカバン工業団地に、三菱重工業のエアコン生産を手掛けるミツビシ・ヘビーインダストリーズ・マハジャック・エアコンディショナーズ（MACO）社の工場がある。<br>エアコンを組み立てるタイ人従業員らは大忙しだ。2017年の生産台数は10年前に比べると2.4倍。18年2月には約30億円を投じて建設した2つの工場が新たに稼働した。

p ところが、国交省の幹線鉄道課に足を運んでも、「財投の専門家ではないし、融資スキームなど説明できない」という。そこで、財務省理財局の財投総括課に聞くと、「僕らが（融資条件を）設定しているわけではない。<br>国交省さんじゃないですか」と堂々巡りになる。「僕らが（融資条件を）設定しているわけではない。国交省さんじゃないですか」と堂々巡りになる。