.progressBar
	h5 この記事は…
	.progressChart
		.myProgress
			.myBar(data-progress='70%')
	.progressContent
		.progressHelpfull
			p
				| 参考になった
				span
					| 351
				| 人
				span.numberPercent （70%)
			button.icon.iconLike
				| 投票
		.progressUseless
			p
				| 参考にならなかった
				span
					| 149
				| 人
				span.numberPercent （30%)
			button.icon.iconDisLike
				| 投票
