footer
	nav.localFooter
		ul
			li
				a(href='●●') このサイトについて
			li
				a(href='●●') 無料会員登録/メールマガジン登録について
			li
				a(href='●●') 利用規約
			li
				a(href='●●') サイトマップ
			li
				a(href='●●') お問い合わせ／よくあるご質問
			li
				a(href='●●') アクセス履歴の利用について
			li
				a(href='●●') 広告ガイド
	nav.globalFooter
		ul
			li
				a(href='http://corporate.nikkeibp.co.jp/') 会社情報・お知らせ
			li
				a(href='http://corporate.nikkeibp.co.jp/information/copyright/') 著作権/リンク
			li
				a(href='http://corporate.nikkeibp.co.jp/information/sec_use/') 記事の二次利用
			li
				a(href='http://corporate.nikkeibp.co.jp/information/privacy/') 個人情報について
			li
				a(href='http://www.nikkei.com/lounge/help/') 日経ＩＤ利用案内
	section.copyright
		| Copyright © 2017 Nikkei Business Publications, Inc. All Rights Reserved.
	.corpLogo
		img(src='●日経BP社ロゴ●', alt='')
