footer.mainFooter
    .panelIndent
        .corpLogo
            .footerLogo
                a(href='/')
                    img.corpImgLogo(src='../../images/onb/2019/sp/logo_pc.svg', alt='')
            ul
                li
                    a(href='#')
                       i.iconSvg.iconFbFooter
                li
                    a(href='#')
                        i.iconSvg.iconTwFooter
                li
                    a(href='#')
                        i.iconSvg.iconInFooter
            .corpLogoButton
                a.btncorpLogo1(href='#') サイトTOP
                a.btncorpLogo2(href='#') ログイン
        nav.localFooter
            .localFooterSubFirst
                .localFooterLeft.borderTopRed
                    ul
                        li.head
                            | 記事一覧
                        li
                            a(href='#') 新着
                        li
                            a(href='#') 特集
                        li
                            a(href='#') タグ
                        li
                            a(href='#') Special Issue
                    ul
                        li
                            a(href='#') 連載
                        li
                            a(href='#') 著者
                        li
                            a(href='#') ランキング

                .localFooterLeft.borderTopRedDouble
                    ul
                        li
                            a(href='#') Raise
                    ul
                        li
                            a(href='#') オンラインセミナール

                .localFooterLeft.borderTopRed
                    ul
                        li.head
                            | 雑誌一覧
                        li
                            a(href='#') 最新号目次
                    ul
                        li
                            a(href='#') バックナンバー

                .localFooterLeft.borderTopRedDouble
                    ul
                        li.head
                            | 関連サイト
                        li
                            a(href='#') 日経電子版

                .localFooterLeft.borderTopRed
                    ul.fullWidth
                        li.head
                            | 日経ビジネス電子版
                        li
                            a(href='#') このサイトについて
                        li
                            a(href='#') 利用ガイド
                        li
                            a(href='#') 会員機能の詳細
                        li
                            a(href='#') よくある質問・お問い合わせ
                        li
                            a(href='#') 利用規約
                        li
                            a(href='#') アクセス履歴の利用について
                        li
                            a(href='#') 登録情報の変更
                        li
                            a(href='#') 雑誌のお届け先の変更
                        li
                            a(href='#') 会員登録/購読申し込み
                        li
                            a(href='#') マイページ

footer.footer2
    nav.globalFooter
        a(href='/').globalImgFooter
            img(src='../../images/onb/2019/sp/bpLogo.png', alt='')
        .globalFooterMenuItems
            ul
                li
                    a(href='#') 会社案内
                li
                    a(href='#') 個人情報について
                li
                    a(href='#') 著作権について
            ul
                li
                    a(href='#') 広告ガイド
                li
                    a(href='#') 日経ID利用案内
                li
                    a(href='#') PC版に切り替え
    section.copyright
        p
            | Copyright © Nikkei Business Publications, Inc. <br>
            | All Rights Reserved.

include component/_menu_fixed
