head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
	meta(charset='utf-8')
	meta(name='viewport', content='width=375px, user-scalable=no')
	block title
		title 【記事タイトル＊1】：【サイト名】
	block lib_css
	link(href='../../css/onb/2019/sp/style.css', rel='stylesheet')