doctype html
html(lang='ja')
	include header.jade
	body
		#wrapper
			include body_header/_body_header.jade
			.content
				block content
		include footer.jade
		script(src='../../js/bpcommon/jquery-3.x-min.js')
		block lib_js
		script(src='../../js/onb/2019/sp/common.js')
