doctype html
html(lang='ja')
	include header_107
	body
		#wrapper
			block header
				include body_header/_body_header_107
			.content
				block content
			include footer_107
		script(src='/js/bpcommon/jquery-3.x-min.js')
		block lib_js
		script(src='/js/v1/sp/common.js')