.relatedForumList {
	margin-bottom: 30px;
}

.relatedForumList > .relatedForumItem:last-child {
	padding-bottom: 55px;
}

.relatedForumListHeader {
	margin-top: 32px;
	position: relative;
	font-weight: bold;
	color: $color--666666;
	background: #f6f6f6;
	padding: 6px 14px;
	margin-bottom: 5px;
	&:after {
	position: absolute;
		content: '';
		height: 6px;
		width: 6px;
		background-color: $color--E6001E;
		left: 0px;
		top: 0px;
	}
	h2 {
		margin: 0;
		font-size: 15px;
	}
}

.relatedForumItem {
	// margin: 0 16px;
	border-bottom: 1px solid $color--EEEEEE;
	padding-bottom: 13px;
	overflow: hidden;
	.recommendation {
		font-size: 10px;
		color: $color--666666;
		margin-top: 12px;
		margin-bottom: 5px;
	}
}

.relatedForumItemGroup {
	overflow: hidden;
	display: flex;
}

.relatedForumItemContent {
	width: calc(100% - 80px)
}

.relatedForumItemContentWrapper {
	padding-right: 12px;
}

.relatedForumItemTitle {
	h3 {
		margin: 0;
		font-size: 15px;
		font-weight: bold;
		line-height: 1.4;
	}
	a:hover {
		text-decoration: underline;
	}
}
.relatedForumItemImg {
	width: 80px;
	float: right;
	margin-top: 15px;
	img {
		width: 100%;
	}
}

.relatedForumItemAuthor {
	clear: both;
	display: -webkit-flex;
	-webkit-align-items: center;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: $color--666666;
	margin-top: 5px;
	img {
		margin-right: 8px;
		width: 14px;
		height: 13px;
	}
	.peopleParticipated {
		color: $color--242424;
		font-weight: bold;
		margin-left: 4px;
	}
}

.serialList {
	.serialItem {
		width: 50%;
		margin-bottom: 10px;
		&:nth-of-type(odd) {
			float: left;
			.serialItemContent {
				padding-right: 11.5px;
			}
		}
		&:nth-of-type(even){
			float: right;
        	.serialItemContent {
				padding-left: 11.5px;
			}
        }
	}
	.serialItemImg {
		img {
			width: 100%;
		}
		
	}

	.serialItemTitle {
		font-size: 15px;
		font-weight: bold;
	}
}

