section.item1
    .item1Content
        p 連載タイトルが入ります。
        h4 タイトルが入ります。タイトルが入ります。タイトルが入ります。32w
        p 2018.MM.DD 一切の前提条件なしに、年末までに平和条約を締結しよう――。ロシアのプーチ…
        .item1ContentComment
            i.icon.iconcoment
            | 12
            i.icon.iconLike
            | 76%
    .item1ContentImg
        img(src='/images/Rectangle.png', alt='')