nav.globalNavi
    .globalNaviContainer
        ul.globalNaviLeft
            li
                a(href='#') 日経電子版
            li
                a(href='#') 日経BP
            li
                a(href='#') 日経ビジネスとは？

        a.globalNaviConfig(href='#') 設定

        ul.globalNaviRight
            li
                a(href='#') 登録会員
            li
                a(href='#') 日経太郎様


        a.linkBottomArrow(href='#')
            i.bottomArrow
