nav.globalNavi
    .globalNaviContainer
        ul.globalNaviLeft
            li
                a.linkBottomArrow(href='#')
                    | 日経BP
                    i.bottomArrow
            li
                a(href='#') 日経ビジネスとは？


        ul.globalNaviRight
            li
                a.btnLogin(href='#') ログイン
                a.btnApplication(href='#') お申し込み

