nav.globalNavi
    .globalNaviContainer
        ul.globalNaviLeft
            li
                a.linkBottomArrow(href='#')
                    | 日経BP
                    i.bottomArrow
            li
                a(href='#') 日経ビジネスとは？

        ul.globalNaviRight
            li
                a.nikNotRegistered(href='#') 日経ビジネス電子版 未登録
            li
                a.btnApplication(href='#') お申し込み

