nav.globalNavi
    .globalNaviContainer
        ul.globalNaviLeft
            li
                a.linkBottomArrow(href='#')
                    | 日経BP
                    i.bottomArrow
            li
                a(href='#') 日経ビジネスとは？

        ul.globalNaviRight
            li
                a(href='#') 登録会員
            li
                a(href='#') 日経太郎様
            li 
                a.globalNaviConfig(href='#') 設定


    //a.linkBottomArrow(href='#')
    //    i.bottomArrow
