a(href="#").imageTitle
	.categoryLabel Raise
	.textTitle オンラインインターン vol.1
	.modalIcon
		img(src='../../images/onb/2019/modalIcon.png', alt='')
.mainHeader
	p.shoulder 第1回
	h1 ［大学生限定］夏休みの体験を大募集タイトルが入ります
	.raiseFollow
		a(href="#").btnRaiseFollow 議論をフォロー
	.leafAuthor
		.authorAvatar
			.avatarCicrle.sizeForty
				img(src='../../images/onb/2019/author_avatar.png', alt='')
		.authorInfo
			.authorName
				.fullName 谷口 徹也
				.numberImages
					span 他 3名
					img(src='../../images/onb/2019/imageNumberIcon.png', alt='')
			.authorLevel 日経ビジネスベーシック編集長
	.leafActionInfo
		.leafInfo
			time 2018年8月24日公開
			.likeAndComment
					img(src='../../images/onb/2019/comment_raise.png', alt='')
					span 45人が参加
		.leafAction
			.boxSocial
				ul.social
					li
						a.facebookLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/printIcon.png', alt='')
							.titleLabel 印刷
					li
						a.twitterLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/viewerIcon.png', alt='')
							.titleLabel 誌面で読む