.bpbox_center
	.bpimage_center
		.bpimage_image
			a(href="#")
				img(src='../../images/onb/2019/rise_leaf_detail.png', alt='')
		.bpimage_caption 画像のキャプションが入ります。画像のキャプションが入ります。
p Raise本文テキストが入ります。ルールは子記事と同じです。Raise本文テキストが入ります。ルールは子記事と同じです。

p Raise本文テキストが入ります。ルールは子記事と同じです。Raise本文テキストが入ります。Raise本文テキストが入ります。ルールは子記事と同じです。Raise本文テキストが入ります。