li.rasieComment.isHighLight
    .commentItemLeft
        .commentHighLight
            .commentHighLightIcon
                img(src='../../images/onb/2019/topCommentText.png', alt='')
            p 光るコメント
        .avatarCicrle.sizeThirtyTwo
            img(src='../../images/onb/2019/Oval1.png', alt='')
    .commentItemRight
        a(href='#').myIconBall
            img(src='../../images/onb/2019/commentFunction.png', alt='')
        p.textAuthor.textAuthorBlack 吉野 次郎
        p.textAuthorTitle 日本経済新聞社記者
        .commentItemRightContent.on
            p
                | 具体的に他のメーカーがいくら値上げするかは決まっていますか？(最終的に値段を決定する以上、値上げ後の相場をおさえておきたいです。)

        .commentIcon
            span.commentTime
                | 5分前
            span.commentlike
                i.icon.iconLike
                |   18
            
            span.commentReply
                a(href='#')
                    | 返信

            span.commentVoteLike
                a(href='#')
                    | いいね！
