.popupClassHide
	#popupOptionNew
		ul.popupOption
			li
				a(href="#")
					.popupOptionContent 公開プロフィール編集
			li
				a(href="#")
					.popupOptionContent 通知設定
			li
				a(href="#")
					.popupOptionContent フォローしている著者・ユーザー
			li
				a(href="#")
					.popupOptionContent フォローしている連載
			li
				a.popupDoubleShow(href="#")
					.popupOptionContent フォローしているタグ
			li
				a(href="#")
					.popupOptionContent 契約状況の確認・変更
						span 
							img(src='../../images/onb/2019/iconArrow.png', alt='')
