.popupClassHide
	#popupShareGift
		.popupGift
			.popupShareGiftTitle ギフトシェア
			.popupIconGift 
				img(src='../../images/onb/2019/iconGift_26x32.png', alt='')
			.popupShareGiftContentGray 有料記事をお知り合いにギフトできます (
				a(href="#") 詳細
				| ）<br>※有料会員限定
			.popupButton
					a(href="#").btnColorRed ログイン
					a(href="#").btnColorRed 有料会員へのお申し込み
