.popupClassHide
	#popupAuthorSignUp
		.popupAuthorSignUp
			.popupAuthorSignUpTitle 会員登録で著者や連載の<br>フォローが可能になります（
				a(href="#") 詳細
				| ）
			a(href="#").btnAuthorSignNow 
				span 今すぐ登録する
			ul
				li
					a.btnAuthorAction.signTo(href="#") 戻る
				li
					a.btnAuthorAction.backTo(href="#") ログイン
