.popupClassHide
	#popupShareGiftFive
		.popupGift
			.popupShareGiftTitle ギフトシェア
			.popupIconGift 
				img(src='../../images/onb/2019/iconGiftRed.png', alt='')
			.popupShareGiftContentBlack.popupShareGiftContentPadding 今月は、ギフトシェア機能を<br>お使いいただける上限回数に達しました<br>URLの有効期限：****年mm月dd日 xx:xx
