.popupClassHide
	#popupListCardContentNew
		.popupListCardContent
			.popupListCardTilte フォロータグ一覧
			ul(data-simplebar,data-simplebar-auto-hide="false")
				li
					a(href="#").tagName #アマゾン
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
				li
					a(href="#").tagName #創業家
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
				li
					a(href="#").tagName #三菱
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
				li
					a(href="#").tagName #ウォルマート
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
				li
					a(href="#").tagName #サイバーセキュリティ
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
				li
					a(href="#").tagName #サイバーセキュリティ
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/close_203.png', alt='')
						span 削除
			a(href="#").cancelButton キャンセル