.popupClassHide
	#popupShareGiftSix
		.popupGift
			.popupShareGiftTitle クリップ
			textarea(placeholder='メモを入力できます（100文字まで）')
			.popupButton
					a(href="#").btnColorGrey.btnPopupClose 戻る
					a(href="#").btnColorRed クリップする
