.popupClassHide
	#popupAuthor
		.popupAuthor
			.popupAuthorTilte この記事の著者
			ul
				li
					a(href="#")
						.avatarCicrle
							img(src='../../images/onb/2019/author_3.png', alt='')
						.popupAuthorInfo
							| 東南 薄
							span 日本経済新聞記者
						img.arrow(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')
				li
					a(href="#")
						.avatarCicrle
							img(src='../../images/onb/2019/author_4.png', alt='')
						.popupAuthorInfo
							| 東南 薄
							span  日本経済新聞記者
						img.arrow(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')
				li
					a(href="#")
						.avatarCicrle
							img(src='../../images/onb/2019/author_1.png', alt='')
						.popupAuthorInfo
							| 東南 薄
							span 日本経済新聞記者
						img.arrow(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')
				li
					a(href="#")
						.avatarCicrle
							img(src='../../images/onb/2019/author_2.png', alt='')
						.popupAuthorInfo
							| 東南 薄
							span 日本経済新聞記者
						img.arrow(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')
				li
					a(href="#")
						.avatarCicrle
							img(src='../../images/onb/2019/author_5.png', alt='')
						.popupAuthorInfo
							| 東南 薄
							span 日本経済新聞記者
						img.arrow(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')