.popupClassHide
	#popupShareGiftTwo
		.popupGift
			.popupShareGiftTitle ギフトシェア
			.popupIconGift 
				img(src='../../images/onb/2019/iconGiftBlack_24x32.png', alt='')
			.popupShareGiftContentBlack 有料記事をお知り合いにギフトできます (
				a(href="#") 詳細
				| ）<br>24時間有効なシェア用URLを発行します
			
			.popupButtonURLRed 
				a(href="#") URLをクリップボードにコピー
