.popupClassHide
	#popupShareGiftThree
		.popupGift
			.popupShareGiftTitle ギフトシェア
			.popupIconGift 
				img(src='../../images/onb/2019/iconGiftBlack_24x32.png', alt='')
			.popupShareGiftContentBlack 有有料記事をお知り合いにギフトできます<br>（24時間有効なシェア用URLを発行）
			
			.popupButtonURLGray 今月はすでに上限回数を超えています
