.panelIndent
    span グローバルニュース
    .leafGlobalDigest
        .globalDigestAvatar
            .globalDigestCicrle
                a(href='#')
                    .avatarCicrle.sizeThirtyTwo
                        img(src='../../images/onb/2019/author_1.png', alt='')
        .globalDigestInfo
            h5 ニューヨーク支局
    .globalDigestFollow
        a(href='#')
            img(src='../../images/onb/2019/plusIcon.png', alt='')
            | 支局をフォロー
