- var title = 'その他の支局'
	include ../../shared/component/_title_box

.leafGlobalDigestOtherList
	ul
		li
			a(href='#')
				.globalDigestOtherListAvatar
					.avatarCicrle.sizeThirtyTwo
						img(src='../../images/onb/2019/author_1.png', alt='')
				.globalDigestOtherListContent
					p.itemTitle
						| バンコク支局
						span.subItemTitle 30時間前
					p.itemDescription 速報テキストが入ります。速報テキストが入ります。速報テキストが入ります。
		li
			a(href='#')
				.globalDigestOtherListAvatar
					.avatarCicrle.sizeThirtyTwo
						img(src='../../images/onb/2019/author_2.png', alt='')
				.globalDigestOtherListContent
					p.itemTitle
						| ロンドン支局
						span.subItemTitle 8時間前
					p.itemDescription 速報テキストが入ります。速報テキストが入ります。速報テキストが入ります。
		li
			a(href='#')
				.globalDigestOtherListAvatar
					.avatarCicrle.sizeThirtyTwo
						img(src='../../images/onb/2019/author_3.png', alt='')
				.globalDigestOtherListContent
					p.itemTitle
						| シリコンバレー支局
						span.subItemTitle 2時間前
					p.itemDescription 速報テキストが入ります。速報テキストが入ります。速報テキストが入ります。
		li
			a(href='#')
				.globalDigestOtherListAvatar
					.avatarCicrle.sizeThirtyTwo
						img(src='../../images/onb/2019/author_4.png', alt='')
				.globalDigestOtherListContent
					p.itemTitle
						| 上海支局
						span.subItemTitle 8時間前
					p.itemDescription 速報テキストが入ります。速報テキストが入ります。速報テキストが入ります。
