.parentTilte
	a(href="#")
		.categoryLabel 連載
		.textTitle リーマンショック 10年　世紀の危機は何をもたらしたのか
.mainHeader
	p.shoulder PART 5
	.headerLabel 電子版限定
	h1 爆走中国EV、電池業界に起きている異変
	p.subTitle 日系各社のビジネス戦略にも変化が
	.leafAuthor
		.authorAvatar
			.avatarCicrle.sizeForty
				img(src='../../images/onb/2019/author_avatar.png', alt='')
		.authorInfo
			.authorName
				.fullName 谷口 徹也
				.numberImages
					span 他 3名
					img(src='../../images/onb/2019/imageNumberIcon.png', alt='')
			.authorLevel 日経ビジネスベーシック編集長