p 米国を除くTPP（環太平洋経済連携協定）参加11カ国の新協定「TPP11」は国内で関連法が成立するなど批准・発効に向けた動きが進んでいる。注目したいのは関連法の中に「作者の死後50年」だった小説や絵画、漫画などの著作権の保護期間を「死後70年」に延長する改正著作権法が盛り込まれたことだ。これまで映画に関しては公表後70年に延長された経緯はあるが、その他の著作物については議論はあったものの、作者の死後もしくは公表後50年に据え置かれてきた。発効時期は判然としないが、この変更は出版業界を中心に大きなインパクトがある。
p 今回の著作権法改正は、TPP交渉を離脱した米国に配慮した背景がうかがえる。保護期間が「死後70年」の米国は、同国内では日本の小説や絵画が70年保護されるものの、日本では米作品が50年しか保護されていないなど各国間のばらつきに不満を抱いており、離脱前のTPP交渉の場でも保護期間の統一を訴えていた。米国離脱後のTPP11を主導する立場にある日本としては、米国を再び交渉のテーブルにつかせるために保護期間の延長を盛り込んだ形だ。
.bpbox_center
	.bpimage_center
		.bpimage_image
			a(href="#")
				img(src='../../images/onb/2019/print_leaf.png', alt='')
		.bpimage_caption 日本の著作権収支は大幅赤字　●日本の著作権使用料の国際収支<br>出所:日本銀行
p ただ、マクロ的な観点からみると、今回の法改正で日本にどれほどの影響があるかは不透明だ。そもそも日本は著作権使用料に関する国際収支でもともと大幅な赤字状態にある。だが、これは米国などの立場が圧倒的に強いコンピューターのソフトウエアに関わるロイヤルティーが支出の大半を占めているからであり、文芸や美術、音楽などの著作物の使用料はさほど多くを占めているわけではない。
p 　今回の法改正でソフトウエアに関しても保護期間は延長されるが、それらはサイクルが速く、「賞味期限」の長いコンテンツとは言えないため、改正によって国際収支が大きく変動するとは考えにくい。日本の赤字が増える可能性はないわけではないが、影響は限定的のように思える。
h4 三島作品は2040年まで保護
p では、国内ではどのような変化が起きるのか。没後、半世紀が経過しようとしている文豪らの作品を手掛ける出版社にとっては、保護期間の延長は朗報と言えるだろう。これらの出版社は、権利者から許可を得て、いわば独占的に書籍などの形で作品を販売している。だが、死後50年が経過してしまえば、インターネットの無料公開などが可能となり、消費者もわざわざ商品を買わなくても読むことが可能となるため、優位性が失われてしまう。
p 　例えば、近年では谷崎潤一郎や江戸川乱歩（いずれも1965年死去）の作品の保護期間が2015年末に切れた。これらは16年から権利者の許可を得なくても使用することが可能となり、無料で作品をダウンロードできるウェブサイトもある。
p 　現在は作者の死後50年がたっていない作品についても、いずれ同様の環境に置かれるはずだった。現行法であれば三島由紀夫（1970年死去）の「金閣寺」や「仮面の告白」も2020年末で保護が切れ、翌21年から許可なく無料公開などが可能となる予定だった。
p 　だが、法改正で保護期間は40年末まで延長されることとなり、許可なく無料公開などが行われるようになるのは41年以降になる。漫画であっても同様で、手塚治虫（1989年死去）の「鉄腕アトム」や「ブラック・ジャック」も保護期間が39年から59年まで延長される。そうなることで、現在これらの出版を手掛けている会社の優位性はさらに20年間確保されることになったと言える。
.bpbox_center
	.bpimage_center
		.bpimage_image
			a(href="#")
				img(src='../../images/onb/2019/print_leaf_2.png', alt='')
		.bpimage_caption 写真=6点：朝日新聞社
p 　対して保護対象外となった作品をネット上で無料公開している「青空文庫」のような組織や、二次利用を考えていた個人にとっては大きく活動が制限される事態となる。先述した谷崎作品など、すでに保護期間を終了した作品の使用が再び制限されることはないが、保護期間が延長されれば、その後20年間は相続人がいないケースなどを除いて著作権フリーの作品が一つも出てこなくなるからだ。
h4 権利者が不明になるケースも
p こうした変化は作品の自由な流通を先延ばしにし、文化の発展が阻害される要因となり得る。特に現代のデジタル化やネットワーク化が進展した環境下では、一般人によるものも含めて作品のアーカイブ化や二次創作など公益、私益の両面での利活用が重要視されているが、その流れに逆行する形になる。
p また、作品の発表から時間が経過すれば権利の所在があいまいとなることも少なくなく、死後70年ともなれば権利者の所在が確認できない「孤児著作物」が増大する可能性も高い。保護期間内の作品は，権利者の許可を得て利用するのが原則だが、その許可を誰から得ればよいのか分からなくなり、発表から時間が経過した作品が日の目を見る機会が失われかねない。
p 　そもそもこれまで出版されてきた著作物を見ても、三島や川端康成をはじめとした文豪の作品のように、死後、長期間が経過しても絶えず認知されているものは一握りにすぎない。その他の作品は出版当初は広く知られていても、時間の経過で忘れられていったものも多い。保護期間終了後の二次利用などはこうした事態を抑える役目もあると考えられるが、延長により自由な流通が20年間先延ばしされることで埋もれていく作品も多くなるだろう。
p 　私は過去に展開された議論において、前述した懸念から保護期間の延長には反対の立場をとってきた。しかし、今回の法改正が国益のための外交カードの一つとしてのものであるなら、やむを得ないとも感じている。
p 　ただ、保護期間内であってもデジタルアーカイブ化を許可するような柔軟な対応や、円滑な二次利用許可の枠組み作り、著作権の集中管理を進めて孤児著作物を生まない仕組みづくりなど延長による負の部分を最小限に抑えていく施策も併せて考えていく必要がある。
p 　著作物は先人たちが生み出してきた貴重な財産だ。それらをいかに守り、生かしていくか、知恵を絞る重要な時期が来ている。
.authorRight
	p （構成=藤中 潤）
.dateLeft
	p 日経ビジネス2018年9月24日号 58～61ページより