extends ../shared/layout_300.jade

block lib_css

block lib_js
	script(src='../../js/onb/2019/lib/autosize.min.js')
	script(src='../../js/onb/2019/lib/simplebar.https://cdn.zeplin.io/5bae2277ac2c227146b3d896/screens/4FE4A16E-8D49-4A26-9D07-B83F59DA79DA.pngjs')

block title
	title 104_Rhizomeからの通知

block content
	article
		include ../shared/105_contents/_header
		.articleList
			section.myPage
				include ../shared/105_contents/_list_3