p.bplead
	| 乳幼児期からの英語習得、進学のグローバル化、塾通いをしない伸びやかな教育方針。こういった背景から、
	span.fontBold 小中学校など早い段階で子どもの留学を検討する家庭が増えている。
	br
	span.fontBold その留学先としてこの数年で注目を集めているのが、「未来教育指数、世界１位」を誇るニュージーランドだ。
	| 親子留学の末に、なんと現地就職を果たし、夢であった永住権を手にした日本人もいる。今回のテーマは「現地での就活、永住権獲得ノウハウ」です。



h3 中見出し

h4 小見出しテキスト小見出しテキスト（h3 BLK 18px）

p 本文テキスト（body nomal BLK 17px）現在、19歳の息子さん（大学生）とニュージーランドで２人暮らしをしている松本貢実子（まつもとくみこ）さん。

p 「７年前、息子が13歳、私が40歳すぎての親子留学から始まりました。
	br
	| 大学通いと就職活動はとても大変でしたが、今では
	a(href='#') 永住権
	| ゲットという夢を叶えられて家族全員が充実しています」と語る松本さん。具体的な現地就職までの道のりを教えてもらおう。
.bpimage_center
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_caption
		| グラフィックデザイナーとして現地の会社で正社員として働く松本貢実子さん。


h3 テキストなどの装飾
h4 フォントサイズの変更
p フォント指定はp（本文）に限らず、span、li、table、tdなど、あらゆる要素に適用できることとします。また、囲み内でも利用できることとします。
p
	span.fontSizeXXL 超特大テキスト「fontSizeXXL」
	br
	br
	span.fontSizeXL 特大「fontSizeXL」テキスト　特大「fontSizeXL」
	br
	br
	span.fontSizeL 大「fontSizeL」　テキスト大「fontSizeL」　テキスト大
	br
	br
	span.fontSizeS 小「fontSizeS」テキスト　小「fontSizeS」テキスト　小「fontSizeS」テキスト
	br
	br
	span.fontSizeXS 極小「fontSizeXS」テキスト　極小「fontSizeXS」テキスト　極小「fontSizeXS」テキスト
	br
	br

h4 文字色と背景色
p サイトテーマカラー
	br
	br
	span.textCol 強基本
	| 、
	span.textColTintA 強段階A
	| 、
	span.textColTintB 強段階B
	br
	span.textColShade 弱基本
	| 、
	span.textColShadeA 弱段階A
	| 、
	span.textColShadeB 弱段階B
	br
	span.bgCol 強基本
	| &nbsp;
	span.bgColTintA 強段階A
	| &nbsp;
	span.bgColTintB 強段階B
	br
	span.bgColShade 弱基本
	| &nbsp;
	span.bgColShadeA 弱段階A
	| &nbsp;
	span.bgColShadeB 弱段階B

p
	span.textColBlack 強基本
	| 、
	span.textColBlackTintA 強段階A
	| 、
	span.textColBlackTintB 強段階B
	br
	span.textColBlackShade 弱基本
	| 、
	span.textColBlackShadeA 弱段階A
	| 、
	span.textColBlackShadeB 弱段階B
	br
	span.bgColBlack 強基本
	| &nbsp;
	span.bgColBlackTintA 強段階A
	| &nbsp;
	span.bgColBlackTintB 強段階B
	br
	span.bgColBlackShade 弱基本
	| &nbsp;
	span.bgColBlackShadeA 弱段階A
	| &nbsp;
	span.bgColBlackShadeB 弱段階B

p
	| 文字色： #121212
	br
	| 背景色： 
	span.bgColBlackShadeB #fafafa
	br
	br

h4 テキストの強調
p 日経BP標準CSSガイドラインに準ずる。
	br
	| テキストで太字にする部分は、
	b bタグ
	| か
	span.fontBold classの「ボールド」
	| でマークアップする。emタグやstrongタグはイタリックやボールドとせず、これらタグを太字にする場合は、
	em emタグにclass「ボールド」
	| 、
	strong strongタグにclass「ボールド」
	| をマークアップする。
	br
p
	b
		| ボールドテキストの途中
		span.fontNormal に普通の文字を出す。
	br
p テキストを斜体にする部分は、iタグ、もしくは、classの「イタリック」、でマークアップする。
	br
	br
h4 テキストの上付き、下付き
p
	| 日経BP標準CSSガイドラインに準ずる。
	br
	| テキストで上付きにする部分は、
	sup supタグ
	| でマークアップする。
	br
	| テキストで上付きにする部分は、
	sub supタグ
	| でマークアップする。
	br
	br

h4 下線と取り消し線
p
	| テキストに実線下線を引くためにuタグと
	span.textSolidUndrLine class「実線下線」
	| を利用可能とし、非実線下線のためにclass
	span.textUnsolidUndrLine 「非実線下線」を用意する。
p
	| テキストに取り消し線を引く場合は、
	span.textLineThrough class「取り消し線」を使う。
	br
	br
h4 マーカー
p
	| テキストにマーカーを引くとき、強調系は
	span.textHighlight マーカー基本色、
	br
	| 
	span.textHighlightTintA マーカー追加色A、
	br
	| 
	span.textHighlightTintB マーカー追加色B
	| の3種を使用できる。
	br
	| 抑制的系の
	span.textHighlightShade 弱マーカー基本色、
	| 
	span.textHighlightShadeA 弱マーカー追加色A、
	| 
	span.textHighlightShadeB 弱マーカー追加色B
	| の3種も使用できる。
	br
	br

h4 左寄せ、左右中央、右寄せ
p 
	| 日経BP標準CSSガイドラインに準ずる。
	br
	| フォントサイズの変更」と同様、指定はp（本文）に限らず、span、li、table、tdなど、あらゆる要素に適用できることとします。
p.textAlignLeft このテキストは左寄せです。
	span.textAlignCenter このテキストは左右中央です。
	span.textAlignRight このテキストは右寄せです。
	br
	br
h4 区切り要素
p
	| 「&lt;p&gt;＊　　　＊　　　＊&lt;/p&gt;」のように、記号文字のテキストで区切りを表現することを禁止します。classなしの「&lt;hr&gt;」はサイトごとに記号や線などを自由に定義できます。
	br
	| class「diamond」「line」「arterisk」は本ガイドライン通りの仕様で実装して下さい。

p ↓手前の文章A1↓
hr
p ↑後続の文章A2↑
br
p ↓手前の文章B1↓
hr.diamond
p ↑後続の文章B2↑
br
p ↓手前の文章C1↓
hr.asterisk
p ↑後続の文章C2↑

h3 図/表/動画
h4 図1 スタンダード
.bpimage_center
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_caption グラフィックデザイナーとして現地の会社で正社員として働く松本貢実子さん。

h4 図2（回り込み：右）

.bpimage_right
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_caption グラフィックデザイナーとして現地の会社で正社員として働く松本貢実子さん。
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。

h4 図2-1（回り込み：右、画像にリンク付き）
.bpimage_right
	.bpimage_image.bpimage_image_hide_zoom
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_click 画像のクリックで別ページへ
	.bpimage_caption グラフィックデザイナーとして現地の会社で正社員として働く松本貢実子さん。
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。


h4 図3（回り込み：右、図のタイトルとキャプションが画像の上）
.bpimage_right
	.bpimage_title 画像タイトル
	.bpimage_caption キャプションが入ります。キャプション
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。


h4 図4（回り込み：右、図のタイトルは画像の上、キャプションは画像の下）
.bpimage_right
	.bpimage_title 画像タイトル
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_caption キャプションが入ります。キャプション
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。

h4 図5（回り込み：左）
.bpimage_left
	.bpimage_image
		a(href='#')
			img(src='../../images/onb/2019/leaf_1.png', alt='')
	.bpimage_caption キャプションが入ります。キャプション
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。


h4 図6 二つ並び
.bpbox_center
	.bpimage_double
		.bpimage_left
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_caption キャプションが入ります。キャプション
		.bpimage_right
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_caption キャプションが入ります。キャプション


h4 図7 二つ並び（キャプション1つ）
.bpbox_center
	.bpimage_double
		.bpimage_left
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_right
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが


h4 図8 2つ並び（大小キャプション）
.bpbox_center
	.bpimage_double
		.bpimage_left
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_title 画像タイトル
			.bpimage_caption キャプションが入ります。キャプション
		.bpimage_right
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_title 画像タイトル
			.bpimage_caption キャプションが入ります。キャプション
		hr
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが

h4 図10 3つ並び
.bpbox_center
	.bpimage_triple
		.bpimage_wrap
			.bpimage_left
				.bpimage_image
					a(href='#')
						img(src='../../images/onb/2019/leaf_1.png', alt='')
				.bpimage_title 画像タイトル
				.bpimage_caption キャプションが入ります。
			.bpimage_center
				.bpimage_image
					a(href='#')
						img(src='../../images/onb/2019/leaf_1.png', alt='')
				.bpimage_title 画像タイトル
				.bpimage_caption キャプションが入ります。
		.bpimage_right
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_title 画像タイトル
				.bpimage_caption キャプションが入ります。

h4 図11 3つ並び（キャプション1つ）
.bpbox_center
	.bpimage_triple
		.bpimage_wrap
			.bpimage_left
				.bpimage_image
					a(href='#')
						img(src='../../images/onb/2019/leaf_1.png', alt='')
			.bpimage_center
				.bpimage_image
					a(href='#')
						img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_right
			.bpimage_image
				a(href='#')
					img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入

h4 図12（回り込み：右　2段）
.bpbox_right
	.bpimage_set
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	.bpimage_set
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png',alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。

p 回り込みのテキストが入る。回り込みのテキストが入る。

p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。
	br 	
	| 回り込みのテキストが入る。

p 回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。

h4 図12（回り込み：左　2段）


.bpbox_left
	.bpimage_set
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	.bpimage_set
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
p 	回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。

p 	回り込みのテキストが入る。回り込みのテキストが入る。

p 	回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。
	br 	
	| 回り込みのテキストが入る。

p 	回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。回り込みのテキストが入る。


h4 図14 動画
.bpbox_center
	.bpimage_center(style='width:520px;')
		.bpimage_image
			iframe(src='https://www.youtube.com/embed/tgbNymZ7vqY', width='520', height='390')
		.bpimage_caption キャプションが入ります。キャプションが入ります。

h4 表
.bptable(style='width:100%;')
	.bptable_title 表1●表のタイトル
	.bptable_caption ここに説明文を入れる。ここに説明文を入れる。ここに説明文を入れる。ここに説明文を入れる。ここに説明文を入れる。ここに説明文を入れる。
	table(style='width:100%;')
		tbody
			tr
				th(scope='col')  
				th(scope='col') 面積
				th(scope='col') 比率
				th(scope='col') 売り上げ
				th(scope='col') 指数
				th(scope='col') 評価
			tr
				th(scope='row') 北海道
				td 600
				td 1.56
				td 5,869,214
				td 600
				td ○
			tr
				th(scope='row') 東北
				td 800
				td 2.36
				td 2,563,584
				td 800
				td ●
			tr
				th(scope='row') 関東
				td 900
				td 5.36
				td 25,635
				td 900
				td △
			tr
				th(scope='row') 中部
				td 400
				td 9.36
				td 25,684
				td 400
				td ■

h3 プロフィール
h4 プロフィール
.bpprofile
	.bpprofile_profile
		span.bpprofile_name 山本 早希
		span.bpprofile_small_name やまもと・さき
		br
		span.bpprofile_position
			| フリーライター、スタイリスト
	.bpprofile_text
		| 1989年京大卒、同年日本経済新聞社入社。流通、農政、行政改革、保険会社、中国経済などの取材を経て2007年より現職。2003年に「生保予定利率下げ問題」の一連の報道で新聞協会賞受賞。


h4 プロフィール（顔写真付き）
.bpprofile_photo
	.bpprofile_profile
		.avatarCicrle.sizeSeventyTwo
			img(src='/images/onb/2019/content_oval_01.png', alt='')
		.bpprofile_persional
			span.bpprofile_name 山本 早希
			br
			span.bpprofile_small_name やまもと・さき
			br
			span.bpprofile_position
				| フリーライター、スタイリスト
	.bpprofile_text
		| 1989年京大卒、同年日本経済新聞社入社。流通、農政、行政改革、保険会社、中国経済などの取材を経て2007年より現職。2003年に「生保予定利率下げ問題」の一連の報道で新聞協会賞受賞。

h4 インタビュー用プロフィール
.bpprofile
	.bpprofile_profile
		span.bpprofile_name 山本 早希
		span.bpprofile_small_name やまもと・さき
		br
		span.bpprofile_position
			| フリーライター、スタイリスト
	.bpprofile_text
		| 1989年京大卒、同年日本経済新聞社入社。流通、農政、行政改革、保険会社、中国経済などの取材を経て2007年より現職。2003年に「生保予定利率下げ問題」の一連の報道で新聞協会賞受賞。

h3 リスト/インタビュー/質問
h4 リスト

ul.square
	li 日経BPネット
	li 日経ビジネスオンライン
		ul
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ul.disc
	li 日経BPネット
	li 日経ビジネスオンライン
		ul
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ul.circle
	li 日経BPネット
	li 日経ビジネスオンライン
		ul
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ol
	li 日経BPネット
	li 日経ビジネスオンライン
		ol
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
ol
	li 日経BPネット
	li 日経ビジネスオンライン

ol.upperAlpha
	li 日経BPネット
	li 日経ビジネスオンライン
		ol
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ol.lowerAlpha
	li 日経BPネット
	li 日経ビジネスオンライン
		ol
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ol.upperRoman
	li 日経BPネット
	li 日経ビジネスオンライン
		ol
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン

ol.circledDecimal
	li 日経BPネット
	li 日経ビジネスオンライン
		ol
			li インデントインデント
			li インデントインデント
				ul
					li インデントインデント
					li インデントインデント
	li 日経BPネット
	li 日経ビジネスオンライン
	li 日経BPネット
	li 日経ビジネスオンライン
	li 日経BPネット
	li 日経ビジネスオンライン
	li 日経BPネット
	li 日経ビジネスオンライン

h4 対談、インタビュー
p
	span.speaker01 桃太郎
	| ：きびだんごをどうぞ。
	br
	span.speaker02 浦島太郎
	| ：玉手箱、ありがとうございます。
	br
	span.speaker03 金太郎
	| ：玉手箱、ありがとうございます。
	br
	span.speaker04 高橋さん
	| ：山で一番強い熊だ！
	br
	span.speaker05 田中さん
	| ：きびだんごをどうぞ。
	br
	span.speaker06 山田さん
	| ：玉手箱、ありがとうございます。
	br
	span.speaker07 鈴木さん
	| ：山で一番強い熊だ！
	br
	span.speaker08 佐藤さん
	| ：きびだんごをどうぞ。
	br
	span.speaker09 記者など
	| ： ありがとうございました。
	br
	br
.bpimage_caption ※最大、9人まで対応

h4 質問と回答
p 日経BP標準CSSガイドラインに準ずる。

h3 囲み/引用/コード
h4 シンプル囲み
.bpframe
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。


h4 囲み記事1
.bpbox
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。

h4 囲み記事2
.bpbox2
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。

h4 囲み記事3
.bpbox3
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。

h4 囲み記事4
.bpbox4
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。

h4 囲み記事5
.bpbox5
	.bpbox_title 松下電器、テレビ向けサイト「Tナビ」で株価情報を充実
	.bpbox_text
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融など報社から調達した企業情報や株主優待情報。
	.bpimage_right
		.bpimage_image
			a(href='#')
				img(src='../../images/onb/2019/leaf_1.png', alt='')
		.bpimage_title 画像タイトル
		.bpimage_caption キャプションが入ります。キャプション
	p 
		| Tナビに対応した松下電器のデジタルテレビなどをインターネットに接続すれば，無料で閲覧できる。
		br
		| 松下電器産業は2006年7月3日，デジタルテレビ向けの生活情報サイト「Tナビ」に載せている株価情報コーナーを充実させたと発表した。ロイター・ジャパンから調達した産業・経済・金融などのニュースや，東洋経済新報社から調達した企業情報や株主優待情報，株式に関する用語集を新たに載せた。

h4 引用
p 引用であることをHTMLの論理構造として明確化します。著作権の観点だけでなく、SEOでも重要であるため、必ず実装してください。
blockquote
	h3 客単価が2倍に上昇
	p
		| 接客の重要ツールが、スマートフォンアプリ「POCKET PARCO」（図1）。来店前から来店後まで、手のひらの上で顧客に接する。
		br
		| 引用テキスト引用テキスト引用テキスト引用テキスト引用テキスト
.bpquote_caption 〇〇〇〇記事「IoTやWeb接客で、“今”を逃さず顧客をつかむ」から引用


h4 コード
p 
	| 日経BP標準CSSガイドラインに準ずる。
	br
	| プログラムコードやコマンドラインの内容を記述する場合に使います。本文と同じスタイル、明るいスタイル、暗いスタイルの3種類を定義してください。
	br
	br
	br
	br

h3 訂正/注釈/参考
h4 訂正文
.bpteisei_box
	.bpteisei
		b ＊変更履歴
		br
		|  ○○○で×××としていましたが、
		br
		| 正しくは●●●です。お詫びして訂正します。本文は修正済みです。 [20xx/xx/xx xx:xx]
		br
		br

h4 注釈
.bpannotation ＊1：注釈のテキスト注釈のテキスト
br
br
h4 参考文献
.bpreference
	b ＊参考文献
	br
	| ケビン・フライバーグ , ジャッキー・フライバーグ著，小幡照雄訳，『破天荒！サウスウエスト航空―驚愕の経営』，日経BP社，1997年.
	br
	br
h4 協力（広告）
.bpword
	| 協力
	br
	| 株式会社 XXXXXXXXXXX

h3 ページネーション
br