.popupClassHide
	#popupShareTenNew
		.popupShareTen
			.popupListCardTilte フォロータグ一覧
			ul
				li
					a(href="#").tagName
						span #アマゾン
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/sp/iconClose_18x18.png', alt='')
						span 削除
				li
					a(href="#").tagName
						span #ウォルマート
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/sp/iconClose_18x18.png', alt='')
						span 削除
				li
					a(href="#").tagName
						span #三菱
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/sp/iconClose_18x18.png', alt='')
						span 削除
				li
					a(href="#").tagName
						span #創業家
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/sp/iconClose_18x18.png', alt='')
						span 削除
				li
					a(href="#").tagName
						span #三菱
					a(href="#").btnDeleteTag
						img(src='../../images/onb/2019/sp/iconClose_18x18.png', alt='')
						span 削除
					
			a(href="#").cancelButton キャンセル