.popupClassHide
	#popupShareFour
		.popupShareFour
			.boxSocialNetwork
				.boxSocialNetworkTitle シェア・保存
				.boxSocialNetworkLink
					ul
						li.fbLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupFb.png', alt='')
								.socialNetworkLabel Facebook
						li.twLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupTw.png', alt='')
								.socialNetworkLabel Twitter
						li.clipLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupClip.png', alt='')
								.socialNetworkLabel クリップ

			.popupShareTitle ギフトシェア
			.iconGift
				img(src='../../images/onb/2019/sp/iconGift_black.svg', alt='')
			.popupShareContentBlack 有料記事をお知り合いにギフトできます（
				a(href="#").redText 詳細
				| ）<br>※24時間有効なシェア用URLを発行
			.btnUrlBorder 今月はすでに上限回数を超えています