.popupClassHide
	#popupShareThree
		.popupShareThree
			.boxSocialNetwork
				.boxSocialNetworkTitle シェア・保存
				.boxSocialNetworkLink
					ul
						li.fbLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupFb.png', alt='')
								.socialNetworkLabel Facebook
						li.twLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupTw.png', alt='')
								.socialNetworkLabel Twitter
						li.clipLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupClip.png', alt='')
								.socialNetworkLabel クリップ

			.popupShareTitle ギフトシェア
			.iconGift
				img(src='../../images/onb/2019/sp/iconGift_black.svg', alt='')
			.popupShareContentBlack 今月は、ギフトシェア機能を<br>お使いいただける上限回数に達しました<br>URLの有効期限：****年mm月dd日 xx:xx