.popupClassHide
	#popupShareTwo
		.popupShareTwo
			.boxSocialNetwork
				.boxSocialNetworkTitle シェア・保存
				.boxSocialNetworkLink
					ul
						li.fbLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupFb.png', alt='')
								.socialNetworkLabel Facebook
						li.twLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupTw.png', alt='')
								.socialNetworkLabel Twitter
						li.clipLink
							a(href="#")
								.socialNetworkIcon
									img(src='../../images/onb/2019/sp/popupClip.png', alt='')
								.socialNetworkLabel クリップ

			.popupShareTitle ギフトシェア
			.iconGift
				img(src='../../images/onb/2019/sp/iconGift_black.svg', alt='')
			.popupShareContentBlack 今月はあと
				span n回、
				|<br>ギフトシェア機能をお使いいただけます<br> URLの有効期限：****年mm月dd日 xx:xx
			.btnUrlGray URLをクリップボードにコピーしました