.popupClassHide
	#popupShareNine
		.popupShareNine
			.popupAuthorSignUpTitle 会員登録で著者や連載の<br>フォローが可能になります（
				a(href="#")
					span 詳細
				| ）
			a.btnAuthorSignNow(href="#")
				span 今すぐ登録する
			a.btnAuthorAction.signTo(href="#") ログイン
			a.btnAuthorAction.backTo.btnPopupClose(href="#") 戻る
