.popupClassHide
	#popupShareSeven
		.popupShareSeven
			.popupShareSevenTitle クリップ
			.popupShareSevenText
				textarea(placeholder='メモを入力できます（100文字まで）')
			ul
				li.popupShareSevenActive
					a(href="#") クリップする
				li
					a(href="#") 戻る