.popupClassHide
	#popupSignUp
		.signUpPopUp
				.signUpPopUpContent
					p コメントを書く、フォローするなど、日経ビ ジネス電子版の機能をより高度に活用いただくためには「
						strong 日経BP社ソーシャルサービス：リゾーム
						|」に登録いた だく必要があります
						a(href="#").signUpPopUpContentRed （詳細)
					a.popupSignInRed いますぐ登録する