.panelIndent
	.headerBlock
		img(src='../../images/onb/2019/sp/raise_logo.png',alt='')
		.headerTitle
			p.title Raise
			p 読者・著者による時事のテーマ議論
.slickRaiseCarousel
	- for (var i = 0; i < 4; ++i)
		a(href='#')
			.slickRaise
				.slickRaiseBanner
					img(src='../../images/onb/2019/sp/search_map_big.png',alt='')
					p オンラインインターン vol.5
				.panelIndent
					p.title ［大学生限定］夏休みの体験を大募集
				.panelIndent
					.slickRaiseContent
						.itemAvatar
							.avatarCicrle.sizeThirtyTwo
								img(src='../../images/onb/2019/Oval18.png',alt='')
						.itemDesciption
							p.itemTitle
								| 小寺圭吾
								span 早稲田大学
							p コメント内容50文字が入ります。コメント内容50文字が入ります。コメント内容50文字が…
					.slickRaiseComment
						i.icon.double_comment
						| フェルディナント・ヤマグチさんなど
						span 22人が参加
.slickRaiseList.panelIndent
	ul
		- for (var i = 0; i < 4; ++i)
			li
				a(href='#')
					p.flag 連載タイトル
					p.title 記事タイトルが入ります。記事タイトルが
					.slickRaiseComment
						i.icon.doubleCommentWhite
						| フェルディナント・ヤマグチさんなど
						span 22人が参加
