ul.globalNew.panelIndent
	li.justIn
		a(href='#')
			.itemAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/Oval6.png',alt='')
			.itemDesciption
				.itemTitle
					| ニューヨーク支局
					span JUST IN
				p 【速報】ミャンマー、民主化後退に懸念 [日本経済新聞]
	li
		a(href='#')
			.itemAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/author_avatar.png',alt='')
			.itemDesciption
				.itemTitle
					| ロンドン支局
					span 18時間前
				p UQが旧「WiMAX」を終了、後継サービスへ移行[不景気. com]
	li
		a(href='#')
			.itemAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/avatarCommentIcon.png',alt='')
			.itemDesciption
				.itemTitle
					| シリコンバレー支局
					span 18時間前
				p トルコの中銀は政府から独立、銀行部門の危機は予想せず＝財務相 [Reuters]
	li
		a(href='#')
			.itemAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/Oval1.png',alt='')
			.itemDesciption
				.itemTitle
					| 上海支局
					span 18時間前
				p 中国、アフリカに６兆円超支援　「運命共同体」構築 [東京中日スポーツ]
	li
		a(href='#')
			.itemAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/Oval.png',alt='')
			.itemDesciption
				.itemTitle
					| バンコク支局
					span 18時間前
				p 【速報】ミャンマー、民主化後退に懸念 [日本経済新聞]












