.slickGlowingCommentWrap
	.slickGlowingCommentTitle
		h3
			span
				i.icon.iconPickUpComment
			| 光るコメント
		p テキストが入ります。テキストが入ります。テキ23w
	.slickGlowingCommentCarousel
		- for (var i = 0; i < 4; ++i)
			.slickGlowingComment
				.slickGlowingCommentBox
					a(href='#')
						.name
							.avatarCicrle.sizeThirtyTwo
								img(src='../../images/onb/2019/sp/Oval1.png',alt='')
							p
								| 長谷川 一旗
								span 東北大学3年　経済学部
						.comment
							| オンラインインターン初投稿です。新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。   そのうえで、三菱商事三浦様に質問ですが・ヒント①に関連して、N社およびB社のインドネシアでしたここまで約100文字…
						.info
							| 2018.MM.DD
							span
								i.iconSvg.iconLike
								| 76%
				.slickGlowingCommentNote
					a(href='#')
						span.raise Raise
						| 中国の経済方針大転換で、市場は小春日…
