section
	.panelIndent
		.importantNotice.importantNoticeSecond
			p.title 重要なお知らせ
			p 緊急告知枠です。お知らせ文言お知らせ文言お知らせ文言お知らせ文言。
			p お知らせ文言お知らせ文言お知らせ文言お知らせ文言、お知らせ文言お知らせ文言お知らせ文言お知らせ文言
			a(href='#') お知らせ文言お知らせ文言
