section
    ul.panelIndent
        li.listArticleItem
            a(href="#")
                .listArticleTitle
                    p 明日から使える！BUSINESS TOPIC BASIC
                .listArticleContent
                    .listArticleTitle
                        h3 オルタナティブデータ　BSジャパン「田村淳のBUSINESS BASIC」
                        .listArticleIcon
                            span
                                i.icon.iconComment
                                | 12
                            span
                                i.iconSvg.iconLike
                                | 76%
                            span.spanChart
                                i.icon.iconchart
                                | アクセス上位
                    .listArticleImg
                        img(src='../../images/onb/2019/sp/creation_list.png', alt='')
        li.listArticleItem
            a(href="#")
                .listArticleTitle
                    p アマゾンは怖くない　『選ばれる小売り』
                .listArticleContent
                    .listArticleTitle
                        h3 ワークマンが「脱・吉幾三」に踏み切った理由。アウトドアに進出
                        .listArticleIcon
                            span
                                i.icon.iconComment
                                | 12
                            span
                                i.iconSvg.iconLike
                                | 76%
                    .listArticleImg
                        img(src='../../images/onb/2019/sp/creation_list.png', alt='')
        li.listArticleItem
            a(href="#")
                .listArticleTitle
                    p 市場は「晴れ、ときどき台風」
                .listArticleContent
                    .listArticleTitle
                        h3 中国の経済方針大転換で、市場は小春日和。勝負のチャンス
                                i.icon.iconLockOpen
                        .listArticleIcon
                            span
                                i.icon.iconComment
                                | 12
                            span
                                i.iconSvg.iconLike
                                | 76%
                            span.spanChart
                                i.icon.iconchart
                                | アクセス上位
                    .listArticleImg
                        img(src='../../images/onb/2019/sp/creation_list.png', alt='')
        li.listArticleItem
            a(href="#")
                .listArticleTitle
                    p PR：タイトル
                .listArticleContent
                    .listArticleTitle
                        h3 広告タイトルが入ります。広告タイトルが入ります。広告タイトル
                    .listArticleImg
                        img(src='../../images/onb/2019/sp/creation_list.png', alt='')
