section
    .pr
        .panelIndent
            h2 ビジネストレンド [PR]
        ul
            - for (var i = 0; i < 5; ++i)
                li
                    .panelIndent
                        a(href='#')
                            p.flag インテル
                            p.title IoTが世界に誇る日本の物流を支える




