section
    .pr
        ul
            li
                .panelIndent
                    a(href='#')
                        p.flag PR
                        p.title IoTが世界に誇る日本の物流を支える。（プレミアムテキストアド35w）
