.slickBannerWrap
    p.raise ピックアップ
    .slickBannerCarousel
        a(href='#')
            .slickBanner
                img(src='../../images/onb/2019/sp/slick_banner_top_1.png', alt='')
                p 失敗を力に変える 七転び八起きのメカニズム 1
        a(href='#')
            .slickBanner
                img(src='../../images/onb/2019/sp/slick_banner_top_2.png', alt='')
                p 失敗を力に変える 七転び八起きのメカニズム 2
        a(href='#')
            .slickBanner
                img(src='../../images/onb/2019/sp/slick_banner_top_3.png', alt='')
                p 失敗を力に変える 七転び八起きのメカニズム 3