.tabWrapper
	ul.tabHeader#tabRanking
		li.active
			a(href="#tabToDay") 現在
		li
			a(href="#tabYesterday") 昨日
		li
			a(href="#tabWeekly") 週間
	.tabContent
		.panelIndent
			ul.tabItem#tabToDay
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-1.png', alt='')
							span 1
						.rankContent
							span アマゾンは怖くない　『選ばれる小...
							p ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨きアウトド…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-2.png', alt='')
							span 2
						.rankContent
							span フォーラム「オープン開発会議」
							p 商品化したいポテトチップスはどれだ？ みんなで考えた新商品のコン…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-3.png', alt='')
							span 3
						.rankContent
							span 市場は「晴れ、ときどき台風」
							p 中国の経済方針大転換で、市場は小春日和。ヒットアンドアウェイで…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 4
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 5
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w


			ul.tabItem#tabYesterday
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-1.png', alt='')
							span 1
						.rankContent
							span アマゾンは怖くない　『選ばれる小...
							p ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨きアウトド…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-2.png', alt='')
							span 2
						.rankContent
							span フォーラム「オープン開発会議」
							p 商品化したいポテトチップスはどれだ？ みんなで考えた新商品のコン…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-3.png', alt='')
							span 3
						.rankContent
							span 市場は「晴れ、ときどき台風」
							p 中国の経済方針大転換で、市場は小春日和。ヒットアンドアウェイで…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 4
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 5
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w

			ul.tabItem#tabWeekly
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-1.png', alt='')
							span 1
						.rankContent
							span アマゾンは怖くない　『選ばれる小...
							p ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨きアウトド…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-2.png', alt='')
							span 2
						.rankContent
							span フォーラム「オープン開発会議」
							p 商品化したいポテトチップスはどれだ？ みんなで考えた新商品のコン…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							img(src='../../images/onb/2019/rank-3.png', alt='')
							span 3
						.rankContent
							span 市場は「晴れ、ときどき台風」
							p 中国の経済方針大転換で、市場は小春日和。ヒットアンドアウェイで…
						.rankImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 4
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w
				li
					a(href="#")
						.rankIcon
							.rankNumber
								span 5
						.rankContent
							span カテゴリータイトル
							p タイトルが入ります。タイトルが入ります。タイトルが入ります32w

