p 学生の皆さん、夏休みを楽しんでいますか？　ボランティア、語学留学、サマースクール、インターン、はたまたアルバイト――。平成最後の夏休み、何をして過ごしているでしょうか？　ぜひ、皆さんが今、夢中になっていることを教えてください。 そこで経験したことや得た知識をシェアしましょう。
p 「ゼミナール Next Genelation」は、学生による学生のためのディスカッションルームです。日頃疑問に感じていることや、何とかしなければならないと考えていること。同じ問題意識を持つ仲間とともに、よりよい社会を作るためのアクションにつなげましょう。皆さんの声が、社会を変えていきます。