p 壇蜜さんが興味のあることについてどんどん質問をする「壇蜜の知りたがりビジネス最前線」は、「コンビニ限定商品編」に続いて、「飲料自動販売機編」に突入します。
br
p コンビニ好きなら、むしろ利用機会が減りそうな自販機ですが、意外にも壇蜜さんは、こちらの利用頻度も高いようです。記事では紹介できませんでしたが、数ある商品の中から、自販機限定商品をズバリと当て、その飲料をスープとして使う料理方法まで披露してくれました。