.leafPostHeaderImg
    span.raise Raise
    img(src='../../images/onb/2019/post_1.png', alt='')
.leafPostHeaderInfo
    h3.greenTitle オンラインインターン フォーラムタイトル
    .leafProfileHeader
        .leafProfile
            .profileFollow
                span 325人がフォロー中
                div
                    a(href='#')
                        img(src='../../images/onb/2019/plusIcon.png', alt='')
                        | シリーズをフォロー
    .leafHeader
        .mainHeader
            .leafAuthor
                .authorAvatar
                    .avatarCicrle.sizeForty
                        img(src='../../images/onb/2019/author_avatar.png', alt='')
                .authorInfo
                    .authorName
                        .fullName 谷口 徹也
                    .authorLevel 日経ビジネスベーシック編集長