.leafProfileReference
    .leafProfileHeader
        p.subTitle 著者
        .leafProfile
            .profileAvatar
                .profileCicrle.avatarCicrle.sizeSeventyTwo
                    img(src='../../images/onb/2019/profile_avatar.png', alt='')
            .profileInfo
                h5 谷口 徹也
                .numberImages
                    span 他 3名
                    img(src='../../images/onb/2019/imageNumberIcon.png', alt='')
                p たにぐち・てつや
                p 日経ビジネスベーシック編集長
            .profilePostList
                a(href='#')
                    | 著者の記事一覧
                    img(src='../../images/onb/2019/nextRed.png', alt='')
    .leafProfileDescription
        p 日経ビジネス、日経情報ストラテジーの記者などを経て、2002年日経ビジネス香港支局特派員、07年日経ビジネス副編集長、09年日経ビジネスオンライン副編集長。12年日経エコロジー編集長。14年ビジネス局長補佐。16年1月から現職。
        span ※このプロフィールは、著者が日経ビジネスオンラインに記事を最後に執筆した時点のものです。