extends ../shared/layout_300_new_01.jade

block lib_css

block lib_js
	script(src='../../js/onb/2019/lib/simplebar.js')

block title
	title header 1

block header
	include ../shared/body_header/_body_global_navi_1
	include ../shared/body_header/_body_header_1

block content
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
