extends ../shared/layout_300.jade

block lib_css

block lib_js


block title
	title 103_TOP バーガーメニュー展開 _01有料会員

block burgerMenu
	include ../shared/burger_menu/_menu_01

block content
	article
		.Container
			section