#wrapper > footer {
	height: 114px;
	background-color: #dddddd;
	margin-top: 80px;
}

nav.localFooter {
	position: relative;
	padding-top: 27px;
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	ul {
		width: 760px;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
		li {
			a {
				font-size: 12px;
				line-height: 1.5;
				letter-spacing: 0.2px;
				color: #242424;
			}
			display: inline-block;
			margin-right: 40px;
			position: relative;
			&:after {
				content: ' ';
				width: 1px;
				height: 18px;
				background-color: #999999;
				right: -20px;
				top: -1px;
				position: absolute;
			}
		}
		li:last-child {
			margin-right: 0;
			&:after {
				background: none;
			}
		}
	}
	
}

.footerLogo {
	display: inline-block;
	width: 180px;
	position: relative;
	top: 4px;
	img {
		width: 93px;
	}
}

.footerCopyright {
	font-size: 12px;
	letter-spacing: 0.2px;
	color: #666666;
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}