p 1989年京大卒、同年日本経済新聞社入社。流通、農政、行政改革、保険会社、中国経済などの取材を経て2007年より現職。2003年に「生保予定利率下げ問題」の一連の報道で新聞協会賞受賞。
br
p ◇主な著書
p 『見えざる隣人』（日本経済新聞出版社） 2009
p 『農は甦る』（日本経済新聞出版社） 2012
span ※このプロフィールは、著者が日経ビジネスオンラインに記事を最後に執筆した時点のものです。