.aloneLoginForRead
	.loginForRead
		.loginForReadAction
			ul
				li
					.loginForReadTitleCus 
						p 講座を記録することで受講の傾向を<br>レーダーチャートでチェックできます。
					.loginForReadBtn
						.btnRedBorderSp.showChart 受講を記録
						a(href="#").btnRedGradientSp.arrowDown.elementHide 受講済み
		.chartRed.elementHide
			.titleChart あなたは〇〇な〇〇タイプ
			.imgChart
				canvas#canvasChart
			.captionChart 説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト