a(href="#").imageTitle
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.categoryLabel.categoryLabelSecond オンラインゼミナール
	.textTitle 〇〇氏が語る講座タイトルが入ります
	.modalIcon
		img(src='../../images/onb/2019/sp/modalIcon.png', alt='')

.panelIndent
	.mainHeader
		p.shoulder 第2回
		.titleMainText
			h1 パーソナライズサービスを成功させたイノベーション
			.iconMovie
				img(src='../../images/onb/2019/sp/iconMovie.png', alt='')
		.leafAuthor
			.authorAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/author_avatar.png', alt='')
			.authorInfo
				.authorName
					.fullName 谷口 徹也
				.authorLevel 日経ビジネス編集長
		.leafActionInfo
			.leafInfo
				time 2018年10月3日公開
				
				.likeAndComment
						img(src='../../images/onb/2019/sp/commentIcon.png', alt='')
						span.firstElement 12
						img(src='../../images/onb/2019/sp/likeIcon.png', alt='')
						span.firstElement 70%
						img(src='../../images/onb/2019/sp/iconPen.png', alt='')
						span
							b 45人が受講
			.leafAction
				.boxSocial
					ul.social
						li
							a.facebookLink(href='#')
								.btnLabel
									img(src='../../images/onb/2019/sp/printIcon.png', alt='')
								.titleLabel 文字サイズ
						li
							a.giftLink(href='#')
								.btnLabel
									img(src='../../images/onb/2019/sp/fileIcon.png', alt='')
								.titleLabel クリップ