.progressBar
	h4 この記事は…
	.progressChart
		.myProgress
			.myBar(data-progress='70%')
	.progressContent
		.progressHelpfull
			p
				| 参考になった
				br
				span
					| 351
				| 人
				span.numberPercent 70%
			button.iconSvg.iconLike
				| 投票
		.progressUseless
			p
				| 参考にならなかった
				br
				span
					| 149
				| 人
				span.numberPercent （30%)
			button.iconSvg.iconDislike
				| 投票
