.aloneLoginForRead
	.loginForRead
		.loginForReadAction
			ul
				li
					.loginForReadTitleCus 
						p 講座を記録することで受講の傾向を<br>レーダーチャートでチェックできます。
					.loginForReadBtn
						a(href="#").btnRedBorderSp 受講を記録