extends ../shared/layout_300_new_03.jade

block lib_css
	link(href='../../css/onb/2019/lib/swiper.min.css', rel='stylesheet')
block lib_js
	script(src='../../js/onb/2019/lib/simplebar.js')
	script(src='../../js/onb/2019/lib/swiper.min.js')

block title
	title 1009_リゾームペイウォール

block header
	include ../shared/body_header/_body_global_navi_5
	include ../shared/body_header/_body_header_7

block burgerMenu
	include ../shared/burger_menu/_menu_01

