extends ../shared/layout_300.jade

block lib_css

block lib_js
	script(src='../../js/onb/2019/lib/autosize.min.js')
	script(src='../../js/onb/2019/lib/simplebar.js')

block title
	title 104_Rhizomeからの通知PC

block content
	- var crumbs = ["パンくず", "パンくず"];
	include ../shared/component/_crumb
	article
		include ../shared/105_contents/_header
		.articleList
			section.myPage
				include ../shared/105_contents/_list_3

	include ../shared/_aside_right_2