a.latestIssue(href='#')
    .topRedNote
        p 最新号
    img(src='../../images/onb/2019/Rectangle7.png', alt='')
    p.date 2018年10月1日号
    p.slogan 時事深層、8記事を先行公開中

ul.latestIssueList
    li
        a(href='#')
            i.icon.viewer
            | 誌面ビューアーで読む
    li
        a(href='#') バックナンバー