.aloneLoginForRead
	.loginForRead
		.loginForReadAction
			ul
				li
					.loginForReadTitleCus 日経 太郎 様 は登録会員です<br>今月はあと<b>１本</b> 閲覧できます
					.loginForReadBtn
						a(href="#").btnRedBorderSp 全部表示 
				li
					.loginForReadTitleCusSmall 有料会員になると全ての記事が閲覧できます
					.loginForReadBtn
						a(href="#").btnGreenGradientSp 有料会員のお申し込み