.serializationBox
    .serializationBoxHeader
        img(src='../../images/onb/2019/sp/301_feature_sp.png', alt='')
        .serializationBoxHeaderTag.backgroundGreen オンラインゼミナール
        .serializationBoxHeaderTitle 
            .panelIndent 
                h2 〇〇氏が語る講座タイトルが入ります
    .serializationBoxContent.panelIndent
            .serializationBoxNumberFollow 325人がフォロー中
            a(href='#').onenbBtnFollow
                .onenbBtnFollowContent
                    img(src='../../images/onb/2019/sp/plusIcon.png', alt='')
                    span.onenbBtnFollowText 連載をフォロー
            ul.serializationList
                li.serializationItem
                   a(href='#')
                        .serializationContent
                            .serializationContentWrapper
                                .serializationItemPartDate 第１回　2018.10.3 公開
                                h3.serializationItemTitle 尻に火がついた日本の小売り大手 止まらないアマゾンの進化
                        .serializationImg
                            img(src='../../images/onb/2019/sp/car.png', alt='')
                li.serializationItem
                    a(href='#')
                        .serializationContent
                            .serializationContentWrapper
                                .serializationItemPartDate 第2回　2018.10.3 公開（閲覧中)
                                h3.serializationItemTitle 生き残りへ3つの突破口 ネット通販の死角を突け
                        .serializationImg
                            img(src='../../images/onb/2019/sp/car.png', alt='')
                li.serializationItem
                    a(href='#')
                        .serializationContent
                            .serializationContentWrapper
                                .serializationItemPartDate 第3回　2018.10.3 公開
                                h3.serializationItemTitle 衣料の店舗離れ鮮明 独自調査で見えたネットシフトの実態
                        .serializationImg
                            img(src='../../images/onb/2019/sp/car.png', alt='')
                li.serializationItem
                    a(href='#')
                        .serializationContent
                            .serializationContentWrapper
                                .serializationItemPartDate 第4回　2018.10.3 公開
                                h3.serializationItemTitle 生存競争から生まれる知恵 米国発、焦土の先の未来
                        .serializationImg
                            img(src='../../images/onb/2019/sp/car.png', alt='')
                li.serializationItem
                    a(href='#')
                        .serializationContent
                            .serializationContentWrapper
                                .serializationItemPartDate 第5回　2018.10.3 公開
                                h3.serializationItemTitle 非合理にこそ勝機がある 顧客以外は捨て去る
                        .serializationImg
                            img(src='../../images/onb/2019/sp/car.png', alt='')
