.businessTrend
	h2 ビジネストレンド [PR]
	ul
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle トラストウェーブジャパン
					.businessTrendSummary セキュリティ脅威は、より深刻に――最新レポートが警告するサイバー犯罪とは
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle ビズリーチ
					.businessTrendSummary 戦国三英傑に学ぶ人材術 織田信長――蒲生氏郷
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle KDDI
					.businessTrendSummary 成果がでない！？デジタル変革の罠から脱出する方法は
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle シンガポール経済開発庁
					.businessTrendSummary 躍動するシンガポールのイノベーション・エコシステム
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle エルテス
					.businessTrendSummary 企業の経営を脅かすソーシャルリスクに備えよ
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle ビズリーチ
					.businessTrendSummary 戦国三英傑に学ぶ人材術　織田信長――滝川一益
		li
			a(href="#")
				.businessTrendBox
					.businessTrendTitle エヌエヌ生命保険
					.businessTrendSummary お客様のために社員が手を挙げ、事業を継承