.glowingCommentRight
	.colHead
		img(src='../../images/onb/2019/iconStarRed.png', alt='') 
		h2 光るコメント
	a(href="#")
		.glowingCommentBox
			.authorInfo
				.avatarCicrle
					img(src='../../images/onb/2019/Oval2.png', alt='')
				h3.authorName 長谷川 一旗
				span.address 東北大学3年　経済学部
			.commentContent オンラインインターン初投稿です。新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。   そのうえで、三菱商事三浦様に質問ですが・ヒント①に関連して、N社およびB社のインドネシアでしたここで約100文字…
			.action
				span.commentDate 2018.MM.DD
				span.like
					img(src='../../images/onb/2019/iconLike.png', alt='')
					| 76
a(href="#")
	.raise
		.tagRaise Raise
		h3.raiseContent 中国の経済方針大転換で、市場は小春日和… 