.rankPosts
	.rankPostTitle 日経電子版アクセスランキング
	ul.rankPostList
		li
			a(href="#").rankItem
				.postRankActive 1
				.postRankTilte 米国発、焦土の先の未来。生存競争から生まれる知恵
					img(src='../../images/onb/2019/rankPostListLock.png', alt='')
		li
			a(href="#").rankItem
				.postRankActive 2
				.postRankTilte 米国発、焦土の先の未来。生存競争から生まれる知恵
		li
			a(href="#").rankItem
				.postRankActive 3
				.postRankTilte 米国発、焦土の先の未来。生存競争から生まれる知恵
		li
			a(href="#").rankItem
				.postRankNoneActive 4
				.postRankTilte 米国発、焦土の先の未来。生存競争から生まれる知恵
					img(src='../../images/onb/2019/rankPostListLock.png', alt='')
		li
			a(href="#").rankItem
				.postRankNoneActive 5
				.postRankTilte 米国発、焦土の先の未来。生存競争から生まれる知恵