a(href="#")
	.recommendBox.recommendInfo
		- for(var i = 1; i <= 4; i++) 
			.recommendContent
				h3.recommendTitle タイトルが入ります。タイトルが入ります。タイトルが入ります32w
				.recommendImg
					img(src='../../images/onb/2019/man.png', alt='')