a(href="#")
	.recommendBox.recommendBook
		.recommendContent
			h3.recommendTitle 宝くじで1億円当たった人の末路
			.recommendSummary 「宝くじで1億円当たったら……」。こんな淡い期待を胸に、宝くじ…
		.recommendImg
			img(src='../../images/onb/2019/cover-2.png', alt='')