section.searchBox
	form
		.inputWithIcon
			input(type='text',placeholder='キーワードを入力')
			i.icon.iconSearch

.tagSearch
	a(href='#')
		span.tagKeyword #新市場
	a(href='#')
		span.tagKeyword #AI
	a(href='#')
		span.tagKeyword #V字回復
	a(href='#')
		span.tagKeyword #ウォルマート
	a(href='#')
		span.tagKeyword #サイバーサキュリティ
	a(href='#')
		span.tagKeyword #デモ
	a(href='#')
		span.tagKeyword #創業者
