.tabWrapper
	ul.tabHeader.tabHeaderPaid
		li
			a(href="#tabPaidToDay") 現在
		li
			a(href="#tabPaidYesterday") 昨日
		li
			a(href="#tabPaidWeekly") 週間
	.tabContent
		ul.tabItem#tabPaidToDay
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-1.png', alt='')
								span 1
							p.parentTitle もやもやニュース、すっきり解説 
						.rankContent
							h3 中国の経済方針大転換で、市場は小春日和。ヒットアンドア…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-2.png', alt='')
								span 2
							p.parentTitle アマゾンは怖くない　『選ばれる小売り』 
						.rankContent
							h3 ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨き…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-3.png', alt='')
								span 3
							p.parentTitle 市場は「晴れ、ときどき台風」 
						.rankContent
							h3 中国の経済方針大転換で、市場は小春日和。ヒットアンドア…
							img(src='../../images/onb/2019/car.png', alt='')

			- for(var i = 4; i <= 5; i++) 
				li
					a(href="#")
						.rankItem.rankNormal
							.rankTitle
								.rankNumber
									span= i
								p.parentTitle カテゴリータイトル 
							.rankContent
								h3 子記事タイトルが入ります。子記事タイトルが入ります。
			
			
		ul.tabItem#tabPaidYesterday
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-1.png', alt='')
								span 1
							p.parentTitle もやもやニュース、すっきり解説 
						.rankContent
							h3 ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨き…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-2.png', alt='')
								span 2
							p.parentTitle アマゾンは怖くない　『選ばれる小売り』 
						.rankContent
							h3 中国の経済方針大転換で、市場は小春日和。ヒットアンドア…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-3.png', alt='')
								span 3
							p.parentTitle 市場は「晴れ、ときどき台風」 
						.rankContent
							h3 ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨き…
							img(src='../../images/onb/2019/car.png', alt='')

			- for(var i = 4; i <= 5; i++) 
				li
					a(href="#")
						.rankItem.rankNormal
							.rankTitle
								.rankNumber
									span= i
								p.parentTitle カテゴリータイトル 
							.rankContent
								h3 子記事タイトルが入ります。子記事タイトルが入ります。

		ul.tabItem#tabPaidWeekly
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-1.png', alt='')
								span 1
							p.parentTitle もやもやニュース、すっきり解説 
						.rankContent
							h3 中国の経済方針大転換で、市場は小春日和。ヒットアンドア…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-2.png', alt='')
								span 2
							p.parentTitle アマゾンは怖くない　『選ばれる小売り』 
						.rankContent
							h3 ワークマンが「脱・吉幾三」に踏み切った理由。PBを磨き…
							img(src='../../images/onb/2019/car.png', alt='')
			li
				a(href="#")
					.rankItem
						.rankTitle
							.rankNumber
								img(src='../../images/onb/2019/rank-3.png', alt='')
								span 3
							p.parentTitle 市場は「晴れ、ときどき台風」 
						.rankContent
							h3 中国の経済方針大転換で、市場は小春日和。ヒットアンドア…
							img(src='../../images/onb/2019/car.png', alt='')

			- for(var i = 4; i <= 5; i++) 
				li
					a(href="#")
						.rankItem.rankNormal
							.rankTitle
								.rankNumber
									span= i
								p.parentTitle カテゴリータイトル 
							.rankContent
								h3 子記事タイトルが入ります。子記事タイトルが入ります。