.topComment
	.topCommentContainer
		.topRedNote
			p 光るコメント
		.flagKeyArrow 
			a(href="#") 一覧
			img(src='../../images/onb/2019/topCommentArrow.png', alt='')

		ul.topCommentList
			li
				a(href="#")
					.topCommentText
						img(src='../../images/onb/2019/topCommentText.png', alt='')
						p コメントが入ります。コメントが入りまコメントが入ります。コメントが入りま…
					.topCommentAuthor
						.topCommentAuthorAvatar.avatarCicrle.sizeForty
							img(src='../../images/onb/2019/Oval15.png', alt='')
						.topCommentAuthorName 名前テキスト
						.topCommentAuthorTitle 肩書きテキストが入ります。
			li
				a(href="#")
					.topCommentText
						img(src='../../images/onb/2019/topCommentText.png', alt='')
						p コメントが入ります。コメントが入りまコメントが入ります。コメントが入りま…
					.topCommentAuthor
						.topCommentAuthorAvatar.avatarCicrle.sizeForty
							img(src='../../images/onb/2019/topComment1.png', alt='')
						.topCommentAuthorName 名前テキスト
						.topCommentAuthorTitle 肩書きテキストが入ります。
	ul.topCommentAuthorAvatar
		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment2.png', alt='')
			.topCommentPopup
				img(src='../../images/onb/2019/topCommentText.png', alt='')
				p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
				.topCommentPopupAuthor 名前テキスト
				.topCommentPopupTitle 肩書きテキストが入ります。

		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment3.png', alt='')
				.topCommentPopup.authorSecond
					img(src='../../images/onb/2019/topCommentText.png', alt='')
					p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
					.topCommentPopupAuthor 名前テキスト
					.topCommentPopupTitle 肩書きテキストが入ります。
		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment4.png', alt='')
				.topCommentPopup.authorThree
					img(src='../../images/onb/2019/topCommentText.png', alt='')
					p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
					.topCommentPopupAuthor 名前テキスト
					.topCommentPopupTitle 肩書きテキストが入ります。
		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment5.png', alt='')
				.topCommentPopup.authorFour
					img(src='../../images/onb/2019/topCommentText.png', alt='')
					p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
					.topCommentPopupAuthor 名前テキスト
					.topCommentPopupTitle 肩書きテキストが入ります。
		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment6.png', alt='')
				.topCommentPopup.authorFive
					img(src='../../images/onb/2019/topCommentText.png', alt='')
					p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
					.topCommentPopupAuthor 名前テキスト
					.topCommentPopupTitle 肩書きテキストが入ります。
		li
			a(href="#")
				.avatarCicrle.sizeForty
					img(src='../../images/onb/2019/topComment7.png', alt='')
				.topCommentPopup.authorSix
					img(src='../../images/onb/2019/topCommentText.png', alt='')
					p コメントが入ります。コントが入ります。コメントが入ります。コメントが入ります。
					.topCommentPopupAuthor 名前テキスト
					.topCommentPopupTitle 肩書きテキストが入ります。
