.commentBox.zeroComment
	.commentContent
		ul
			li
				.commentItemLeft
					.avatarCicrle
						img(src='../../images/onb/2019/sp/Oval6.png', alt='')
				.commentItemRight
					p.textAuthor 北西 厚一
					p.textAuthorTitle 日経ビジネス編集部
	p.buttomCommentBoxZero このコメントは削除されました