.commentBox.commentList
	.commentContent.noShadown.noHeight
		ul
			li.raiseCommentItem.isHighLight
				.commentItemLeft
					.commentHighLight
						.commentHighLightIcon
							img(src='../../images/onb/2019/topCommentText.png', alt='')
						p 光るコメント
					.avatarCicrle.sizeThirtyTwo
						img(src='../../images/onb/2019/sp/Oval6.png', alt='')
				.commentItemRight
					a(href='#').iconBall
						img(src='../../images/onb/2019/commentFunction.png', alt='')
					p.textAuthor 北西 厚一
					p.textAuthorTitle 日経ビジネス編集部
					.commentItemRightContent.on
						p オンラインインターン初投稿です。
						p 新商品の販売戦略として競合他社の存在は絶対に無視できないと思います。
						p そのうえで、三菱商事三浦様に質問ですが
						p ・ヒント①に関連して、N社およびB社のインドネシアでのマーケ
							span.commentReadmore … 続きを読む

					.commentIcon
						span.commentTime
							| 5分前
						span.commentlike.on
							a(href='#')
								i.iconSvg.iconLikeRed
								| 19
						span.commentReply
							a(href='#')
								| 返信

						span.commentVoteLike.commentVoteLikeBlack
							a(href='#')
								| いいね！
