header.myPageHeader
    .panelIndent
        .myPageHeaderLeft
            .myPageHeadLeftContent
                p.contentGray 有料会員
                p.contentAuthor 日経 太郎
                    span 様
                p.contentBlack 表示名：日経 義太夫