header.myPageHeader
    .panelIndent
        .myPageHeaderLeft
            .myPageHeadLeftImg.avatarCicrle.sizeFiftyFive
                img(src='../../images/onb/2019/sp/oval4Medium.png', alt='')
            .myPageHeadLeftContent
                p.contentGray 有料会員
                p.contentAuthor 日経 太郎
                    span 様
                p.contentBlack 表示名：日経 義太夫

        .myPageHeaderRight
            a.btn(href='#')
                | 設定
                img(src='../../images/onb/2019/sp/imageNumberIcon.svg', alt='')