.tabWrapper
    ul.tabHeaderMyPage
        li.active
            a(href="#tabNotification") 通知
        li
            a(href="#tabTagNewArrival") タグ新着
        li
            a(href="#tabClip") クリップ
    .tabContent
        ul.tabItem#tabClip
            include _list_item_1009