.tabWrapper
    ul.tabHeaderMyPage
        li.active
            a(href="#tabNotification") 通知
        li
            a(href="#tabTagNewArrival") タグ新着
        li
            a(href="#tabClip") クリップ
    .tabContent
        ul.tabItem#tabClip
            - for (var i = 0; i < 3; ++i)
                 include _list_item_3

include _seemore