%cssFlagRed {
	background-color: $color--E6001E;
	font-size: $font--14;
	font-weight: bold;
	color: $color--FFFFFF;
}

%cssFlagGreen {
	background-color: $color--367a82;
	font-size: $font--17;
	font-weight: bold;
	color: $color--FFFFFF;
}

%cssFlagBlack {
	background-color: $color--242424;
	font-size: $font--14;
	font-weight: bold;
	color: $color--FFFFFF;
}