.slickWrap
	.slickCarouselCenter
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月27日号
					p.title リニア新幹線　夢か、悪夢か
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月6日・13日号
					p.title 「儲かるASEAN」のウソ
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月27日号
					p.title リニア新幹線　夢か、悪夢か
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月27日号
					p.title リニア新幹線　夢か、悪夢か
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月27日号
					p.title リニア新幹線　夢か、悪夢か
		a(href='#')
			div
				.slickItem
					img(src='../../images/onb/2019/sp/slick_item_1.png', alt='')
					p.date 2018年8月27日号
					p.title 三菱重工 巨艦はこうして蘇った

	a.magazineViewer(href='#')
		i.icon.viewerIcon
		| 誌面ビューアーで読む
