span グローバルニュース
.leafGlobalDigest
    .globalDigestAvatar
        .avatarCicrle.sizeThirtyTwo
            a(href='#')
                img(src='../../images/onb/2019/author_1.png', alt='')
    .globalDigestInfo
        h5 ニューヨーク支局
    .globalDigestFollow
        a(href='#') 支局をフォロー
