.leafGlobalDigestList
	ul
		li
			p 速報】ミャンマー、民主化後退に懸念 [日本経済新聞]
				span JUST IN
			span 1時間前
		li
			p トルコの中銀は政府から独立、銀行部門の危機は予想せず＝財務相 [Reuters]
			span 3時間前
		li
			p 中国、アフリカに６兆円超支援　「運命共同体」構築 [東京中日スポーツ]
			span 8時間前
		- for (var i=0; i<9; i++)
			li
				p 速報】ミャンマー、民主化後退に懸念 [日本経済新聞]
				span 18時間前

.btnReadMoreContent
	a.btnReadMore(href="#") もっと見る
		img.btnReadMoreIcon(src='../../images/onb/2019/btnReadMore.png', alt='')
