header.panelIndent
	nav.localNavi
		a.burgerMenuToggle( href='#localNaviMenu', id="toggle")
			i.icon.iconBarRed
			span
				| メニュー
		block burgerMenu
			include ../burger_menu/_menu_01
	.siteLogo
		a(href='/')
			img(src='../../images/onb/2019/sp/logo_sp.svg', alt='')
	a.tryingLink(href='#') お試し中
