header.panelIndent
	nav.localNavi
		a( href='#localNaviMenu', id="toggle")
			i.icon.iconBarRed
			span
				| メニュー
		#menu
			ul
				li
					a(href='#')
						Home


	.loginBox
		ul.menuLogin
			li
				a(href='#')
					.navButtonContent
						img(src='/images/onb/2019/sp/Oval4.png', alt='')

	.siteLogo
		a(href='/')
			img(src='/images/onb/2019/sp/logo_sp.svg', alt='')



