extends ../shared/layout_300.jade

block lib_css
    link(href='../../css/onb/2019/lib/jquery.simple-popup.min.css', rel='stylesheet')
    link(href='../../css/onb/2019/lib/owl.carousel.min.css', rel='stylesheet')
    link(href='../../css/onb/2019/lib/slick/slick.css', rel='stylesheet')
    link(href='../../css/onb/2019/lib/slick/slick-theme.css', rel='stylesheet')

block lib_js
    script(src='../../js/onb/2019/lib/autosize.min.js')
    script(src='../../js/onb/2019/lib/simplebar.js')
    script(src='../../js/onb/2019/lib/jquery.simple-popup.min.js')
    script(src='../../js/onb/2019/lib/owl.carousel.min.js')
    script(src='../../js/onb/2019/lib/slick.min.js')
    script(src='../../js/onb/2019/lib/background-blur.min.js')

block title
    title 501_親一覧_著者 2nd

block content
    article
        //header
        - var header_title = '著者一覧', header_span = '※入りきらないのでカルーセル1'
        include ../5xx_partial/_author_header.jade
        //body
        .articleList
            include ../5xx_partial/_slick_keywords_2.jade
            include ../5xx_partial/_author_list.jade
            include ../5xx_partial/_slick_keywords_2.jade
            br
            br
