.progressBar
	h5 この記事は…
	.progressChart
		.myProgress
			.myBar(data-progress='70%')
	.progressContent
		.progressHelpfull
			p
				| 参考になった
				br
				span
					| 351人
				span.numberPercent 70%
		.progressUseless
			p
				| 参考にならなかった
				br
				span
					| 149人
				span.numberPercent （30%)
	.iconSvg.iconLike.centerStyleThree
		| 参考になったに投票しました
