.progressBar.styleOne
	h5 この記事は…
	.progressChart
		.myProgress
			.myBar(data-progress='0')
	.progressContent
		.progressHelpfull
			p
				| 参考になった
			button.iconSvg.iconLike
				| 投票
		.progressHelpfull
			p
				| 参考にならなかった
			button.iconSvg.iconDislike
				| 投票
