ul.articleSeminarList
	li
		.seminarItem
			a(href="#")
				date 第3回　 9月12日公開
				.seminarItemContent
					h3.seminarTitle 〇〇氏が語るセミナータイトル（前篇）
						.icon.iconMovieClip
					.seminarImage
						img(src='../../images/onb/2019/sp/post_3.png', alt='')
				.seminarDescription
					p 社運をかける小型ジェット旅客機「MRJ」が大空を舞った。開発開始から実に10年、ようやくお披露目だ。この間、組織改革を続けてきた三菱重工も、世界に飛び立つ準備が整ってきた。
	li
		.seminarItem.comingSoon
			a(href="#")
				date 第3回　 9月12日公開
				.seminarItemContent
					h3.seminarTitle 〇〇氏が語るセミナータイトル（前篇）
					.seminarImage Coming Soon
