.leafAuthor
	.authorAvatar
		.avatarCicrle
			img(src='../../images/onb/2019/sp/author_avatar.png', alt='') 
	.authorInfo
		.authorName
			.fullName 谷口 徹也
			.numberImages
				span 他 3名
				img(src='../../images/onb/2019/sp/imageNumberIcon.svg', alt='')
		.authorLevel 日経ビジネス編集長