.businessTrend
	h2 ビジネストレンド [PR]
	ul
		li.businessTrendBox
			a(href="#")
				.businessTrendTitle ビズリーチ
				.businessTrendSummary 現場へ権限委譲、働きがいある食品スーパー
		li.businessTrendBox
			a(href="#")
				.businessTrendTitle インテル
				.businessTrendSummary IoTが世界に誇る日本の物流を支える 織田信長――蒲生氏郷
		li.businessTrendBox
			a(href="#")
				.businessTrendTitle ビズリーチ
				.businessTrendSummary 現場へ権限委譲、働きがいある食品スーパー
		li.businessTrendBox
			a(href="#")
				.businessTrendTitle インテル
				.businessTrendSummary IoTが世界に誇る日本の物流を支える 織田信長――蒲生氏郷
		li.businessTrendBox
			a(href="#")
				.businessTrendTitle インテル
				.businessTrendSummary IoTが世界に誇る日本の物流を支える 織田信長――蒲生氏郷
