.relatedForumList
	- for(var i = 1; i <= 4; i++) 
		.relatedForumItem
			a(href='#')
				.relatedForumItemGroup
					.relatedForumItemContent
						.relatedForumItemContentWrapper
							.recommendation カルビーと一緒にポテトチップスを開発しよう
							.relatedForumItemTitle 
								h3 ［Step01］ポテトチップスのLove & Hateを大募集！
					.relatedForumItemImg
						img(src='../../images/onb/2019/sp/search_map.png', alt='') 
				.relatedForumItemAuthor
						img(src='../../images/onb/2019/sp/double_comment.png', alt='') 
						| フェルディナント・ヤマグチさん他
						span.peopleParticipated 12人が参加

