.scrollMenuHorizontal
	ul.scrollMenu
		li.active
			a(href="#") 現在
		li
			a(href="#") 昨日
		li
			a(href="#") 月間
		li
			a(href="#") 1年前の今日
		li
			a(href="#") 参考になった
		li
			a(href="#") 現在
		li
			a(href="#") 昨日
		li
			a(href="#") 月間
		li
			a(href="#") 1年前の今日
		li
			a(href="#") 参考になった