nav.menuFixed
	ul
		li
			a(href="#")
				.menuFixedIconTop
				.menuFixedTitle TOP
		li
			a(href="#")
				.menuFixedIconNew
				.menuFixedTitle 最新号
		li
			a(href="#")
				.menuFixedIconSearch
				.menuFixedTitle 検索・一覧
		li.alertActive
			a(href="#")
				.menuFixedIconAlert
				.menuFixedTitle お知らせ