.serializationBox.featureBox
	.serializationBoxHeader
		img(src='../../images/onb/2019/sp/302_raise_bg.png', alt='')
		.serializationBoxHeaderTag Raise
		.serializationBoxBackgroundTitle 
			h2 オンラインインターン
	.serializationBoxContent.panelIndent
			.serializationBoxNumberFollow 325人がフォロー中
			a(href='#').onenbBtnFollow
				.onenbBtnFollowContent
					img(src='../../images/onb/2019/sp/plusIcon.png', alt='')
					span.onenbBtnFollowText シリーズをフォロー
			ul.serializationList
				li.serializationItem
					a(href='#')
						.serializationContent
							.serializationContentWrapper
								.serializationItemPartDate 第5回  2018.MM.DD
								h3.serializationItemTitle 尻に火がついた日本の小売り大手 止まらないアマゾンの進化
						.serializationImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li.serializationItem
					a(href='#')
						.serializationContent
							.serializationContentWrapper
								.serializationItemPartDate 第4回  2018.MM.DD（閲覧中）
								h3.serializationItemTitle 生き残りへ3つの突破口 ネット通販の死角を突け
						.serializationImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li.serializationItem
					a(href='#')
					.serializationContent
							.serializationContentWrapper
								.serializationItemPartDate 第3回 2018.MM.DD
								h3.serializationItemTitle 爆走中国EV、電池業界に起きている異変
						.serializationImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
				li.serializationItem
					a(href='#')
						.serializationContent
							.serializationContentWrapper
								.serializationItemPartDate 第2回 2018.MM.DD
								h3.serializationItemTitle 生存競争から生まれる知恵 米国発、焦土の先の未来
						.serializationImg
							img(src='../../images/onb/2019/sp/car2.png', alt='')
			.btnListSerial
				a(href='#') 議論一覧
