nav.pagination
	ul
		li
			a.previous(href='#') &lt;
		li
			a(href='#') 1
		li.dot ...
		li
			a(href='#') 5
		li
			a.active(href='#') 6
		li
			a(href='#') 7
		li.dot ...
		li
			a(href='#') 32
		li
			a.next(href='#') &gt;