ul.recommendArticle
	- for(var i = 1; i <= 8; i++) 
		li.recommendArticleItem
			a(href='#')
				h3.recommendArticleTitle 親記事タイトル親記事タイトル
			.recommendArticleContent
				.recommendArticleContenWrapper
					.recommendArticleSummary タイトルが入ります。タイトルが入ります。タイトルが入ります。32w
			.recommendArticleImg
				img(src='../../images/onb/2019/sp/yahoo.png', alt='')