ul.recommendArticle.recommendInfo
	- for(var i = 1; i <= 8; i++) 
		li.recommendArticleItem
			a(href='#')
				.recommendArticleContent
					.recommendArticleContenWrapper
						.recommendArticleTitle 親記事タイトル親記事タイトル22w
						h3.recommendArticleSummary タイトルが入ります。タイトルが入ります。タイトルが入ります。32w
				.recommendArticleImg
					img(src='../../images/onb/2019/sp/yahoo.png', alt='')