.articleRegisterForUse
	.panelIndent
		.registerForUse
			.registerForUseContent
				.lblNotificationRed あなたへの通知が届きます
				p.noticeText
					b 日経BPソーシャルサービス：リゾーム
					| に登録すれば、日経ビジネス電子版をより便利で、楽しくお使いいただけます。
				ul.listFunctionForUser
					li
						.functionImg
							img(src='../../images/onb/2019/sp/listFunctionForUser1.svg', alt='')
						p コメントを書いて議論に参加
					li
						.functionImg
							img(src='../../images/onb/2019/sp/listFunctionForUser2.svg', alt='')
						p お気に入りの連載・議論を見逃さない
					li
						.functionImg
							img(src='../../images/onb/2019/sp/listFunctionForUser3.svg', alt='')
						p 編集部に質問できる、取材を頼める
	.boxActionRegister
		.panelIndent
			p.noticeText 登録は
				b 無料
				| です
			a(href="#").btnGreenGradientSp 利用登録する



