.relatedForumItem
	a(href='#')
		.relatedForumItemGroup
			.relatedForumItemContent
				.relatedForumItemContentWrapper
					.recommendation 提言：私たちの働き方
					.relatedForumItemTitle 
						h3 「効率よく働く」ってどういうこと？
			.relatedForumItemImg
				img(src='../../images/onb/2019/sp/search_map.png', alt='') 
		.relatedForumItemAuthor
				img(src='../../images/onb/2019/sp/double_comment.png', alt='') 
				| フェルディナント・ヤマグチさんなど
				span.peopleParticipated 22人が参加
