section
    .panelIndent
        ul.listArticle
            li.listArticleItem.listArticleTitle
                p 新着記事
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p 親記事タイトルが入ります親記事タイト２２文字
                    .listArticleContent
                        .listArticleTitle
                            h3 中国の経済方針大転換で、市場は小春日和。勝負のチャンス
                            .listArticleIcon
                                span
                                    i.icon.iconComment
                                    | 12
                                span
                                    i.iconSvg.iconLike
                                    | 76%
                                span.spanChart
                                    i.icon.iconchart
                                    | アクセス上位
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_1.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p
                            span.seminar ゼミナール
                            | 〇〇氏の特別講義
                    .listArticleContent
                        .listArticleTitle
                            h3 〇〇氏が語るセミナータイトルが入ります。
                                    
                            .listArticleIcon.listArticleIconTag
                                span #新市場
                                span #マーケティング
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_2.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p アマゾンは怖くない　『選ばれる小売り』
                    .listArticleContent
                        .listArticleTitle
                            h3 ワークマンが「脱・吉幾三」に踏み切った理由。アウトドアに進出
                            .listArticleIcon
                                span
                                    i.icon.iconComment
                                    | 12
                                span
                                    i.iconSvg.iconLike
                                    | 76%
                                span.spanChart
                                    i.icon.iconchart
                                    | アクセス上位
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_3.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p PR：タイトル
                    .listArticleContent
                        .listArticleTitle
                            h3 広告タイトルが入ります。広告タイトルが入ります。広告タイトル
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_4.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p
                            span.seminar ゼミナール
                            | 提言：私たちの働き方
                    .listArticleContent
                        .listArticleTitle
                            h3 「効率よく働く」ってどういうこと？
                            .listArticleIcon.listArticleIconTag
                                span #新市場
                                span #マーケティング
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_2.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p オープン開発会議
                    .listArticleContent
                        .listArticleTitle
                            h3 タイトルが入ります。タイトルが入ります。タイトルが入ります32w
                                    
                            .listArticleIcon
                                span
                                    i.icon.iconComment
                                    | 12
                                span
                                    i.iconSvg.iconLike
                                    | 76%
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_3.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p 明日から使える！BUSINESS TOPIC BASIC
                    .listArticleContent
                        .listArticleTitle
                            h3 オルタナティブデータ　BSジャパン「田村淳のBUSINESS BASIC」
                            .listArticleIcon
                                span
                                    i.icon.iconComment
                                    | 12
                                span
                                    i.iconSvg.iconLike
                                    | 76%
                                span.spanChart
                                    i.icon.iconchart
                                    | アクセス上位
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_4.png', alt='')
            li.listArticleItem
                a(href="#")
                    .listArticleTitle
                        p 明日から使える！BUSINESS TOPIC BASIC
                    .listArticleContent
                        .listArticleTitle
                            h3 オルタナティブデータ　BSジャパン「田村淳のBUSINESS BASIC」
                            .listArticleIcon
                                span
                                    i.icon.iconComment
                                    | 12
                                span
                                    i.iconSvg.iconLike
                                    | 76%
                                span.spanChart
                                    i.icon.iconchart
                                    | アクセス上位
                        .listArticleImg
                            img(src='../../images/onb/2019/sp/spec_1.png', alt='')