section
    ul.listArticle.withListPr
        li.listArticleItem
            a(href="#")
                .listArticleContent
                    .listArticleTitle
                        p PR
                        h3 タイトルが入ります。タイトルが入ります。タイトルが入ります32w
        li.listArticleItem
            a(href="#")
                .listArticleContent
                    .listArticleTitle
                        p PR
                        h3 タイトルが入ります。タイトルが入ります。タイトルが入ります32w
        li.listArticleItem
            a(href="#")
                .listArticleContent
                    .listArticleTitle
                        p PR
                        h3 タイトルが入ります。タイトルが入ります。タイトルが入ります32w