.boxSocial
	ul.social
		li
			a.facebookLink(href='#')
				.btnLabel
					img(src='../../images/onb/2019/fbIcon.png', alt='')
				.titleLabelFb シェア
		li
			a.twitterLink(href='#')
				.btnLabel
					img(src='../../images/onb/2019/twwtIcon.png', alt='')
				.titleLabelTw シェア
		li
			a.giftLink(href='#')
				.btnLabel
					img(src='../../images/onb/2019/giftIcon.png', alt='')
				.titleLabelGt ギフトシェア
		li
			a.urlLink(href='#')
				.btnLabel
					img(src='../../images/onb/2019/URLcopyIcon.png', alt='')
				.titleLabelUl URLコピー
		li
			a.fileLink(href='#')
				.btnLabel
					img(src='../../images/onb/2019/fileIcon.png', alt='')
				.titleLabelFe クリップ中