section.articleBodyExpansion
	.panelIndent
		.bodyExpansionTitle
			p 【スクープ】伊藤忠、デサント株買い増し　対決色鮮明に
	.bpimage_center
		.bpimage_image
			img(src='../../images/onb/2019/sp/310_expansion_sp.png', alt='')
		.panelIndent
			.bpimage_caption 伊藤忠側は「伊藤忠の支援あってこそのデサント」と主張する（写真：ロイター/共同）
	a(href="#",onclick="self.close()").bodyExpansionClose
		.iconExpansionClose
			img(src='../../images/onb/2019/sp/310_icon_close.png', alt='')
		p 閉じる