a(href="#").imageTitle
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.categoryLabel.categoryLabelSpecial 特集
	.textTitle 三菱重工　巨艦はこうして蘇った
	.modalIcon
		img(src='../../images/onb/2019/sp/modalIcon.png', alt='')

.panelIndent
	.mainHeader
		p.shoulder PART 5
		h1 生き残りへ3つの突破口
		p.subTitle 日系各社のビジネス戦略にも変化が
		.leafAuthor
			.authorAvatar
				.avatarCicrle.sizeThirtyTwo
					img(src='../../images/onb/2019/sp/author_avatar.png', alt='')
			.authorInfo
				.authorName
					.fullName 谷口 徹也
					.numberImages
						span 他 3名
						img(src='../../images/onb/2019/sp/imageNumberIcon.svg', alt='')
				.authorLevel 日経ビジネス編集長
		.leafActionInfo
			.leafInfo
				time 2018年8月24日
				.leafLockIcon.iconClose
				.likeAndComment
						img(src='../../images/onb/2019/sp/commentIcon.png', alt='')
						span.firstElement 12
						img(src='../../images/onb/2019/sp/likeIcon.png', alt='')
						span 70%
			.leafAction
				.boxSocial
					ul.social
						li
							a.changeFontSize(href='#')
								.btnLabel
									img(src='../../images/onb/2019/sp/printIcon.png', alt='')
								.titleLabel 文字サイズ
						li
							a.twitterLink(href='#')
								.btnLabel
									img(src='../../images/onb/2019/sp/viewerIcon.png', alt='')
								.titleLabel 誌面で読む
						//- li
						//- 	a.giftLink(href='#')
						//- 		.btnLabel
						//- 			img(src='../../images/onb/2019/sp/fileRedIcon.png', alt='')
						//- 		.titleLabelRed クリップ中