#localNaviMenu.burgerMenu(data-simplebar,data-simplebar-auto-hide="false")
    a#close.close.on( href='#localNaviMenu')
        i.icon.iconClose
    a.home( href='#')
        i.iconSvg.iconHome
        | トップ
    .burgerMenuHead03
        a.btnLogin(href='#') ログイン
        a.btnApplication(href='#') 会員登録
    .burgerMenuContent
        ul.listFirst
            li
                a(href='#')
                    | 新着記事
            li
                a(href='#')
                    | 著者
            li
                a(href='#')
                    | 連載
            li
                a(href='#')
                    | 特集
            li
                a(href='#')
                    | Raise
            li
                a(href='#')
                    | オンラインゼミナール
            li.last
                a(href='#')
                    | バックナンバー
            li.last
                a(href='#')
                    | Special Issue
        ul.listSecond
            li
                a(href='#')
                    img(src='../../images/onb/2019/sp/menuBuger1.svg', alt='')
                    | 日経ビジネスWebアプリ
        ul.listSecond
            li
                a(href='#')
                    img(src='../../images/onb/2019/sp/menuBuger2.svg', alt='')
                    | 日経ビジネス誌面ビューアー
        ul.listThird
            li
                a(href='#')
                    i.iconSvg.iconFb
            li
                a(href='#')
                    i.iconSvg.iconTw
            li
                a(href='#')
                    i.iconSvg.iconIn
