#localNaviMenu.burgerMenu(data-simplebar,data-simplebar-auto-hide="false")
    a#close.close.on( href='#localNaviMenu')
        i.icon.iconClose
    a.home( href='#')
        i.iconSvg.iconHome
        | トップ
    .burgerMenuHead
        .burgerMenuHeadLeft
            .burgerMenuHeadLeftImg
                .avatarCicrle.sizeFiftySix
                    img(src='../../images/onb/2019/sp/hamburger_avatar.png', alt='')
            .burgerMenuHeadeftLeftContent
                p.textAuthortitle 登録会員
                p.textAuthorName 日経 太郎
                    span 様
                p
                    | 表示名：日経 義太夫

        .burgerMenuHeadRight
            a.btn(href='#')
                | 設定
                img(src='../../images/onb/2019/sp/imageNumberIcon.svg', alt='')
        //a.btnGreen(href='#') お申し込み
    .burgerMenuContent
        ul.listFirst
            li
                a(href='#')
                    | 新着記事
            li
                a(href='#')
                    | 著者
            li
                a(href='#')
                    | 連載
            li
                a(href='#')
                    | 特集
            li
                a(href='#')
                    | Raise
            li
                a(href='#')
                    | オンラインゼミナール
            li.last
                a(href='#')
                    | バックナンバー
            li.last
                a(href='#')
                    | Special Issue
        ul.listSecond
            li
                a(href='#')
                    img(src='../../images/onb/2019/sp/menuBuger1.svg', alt='')
                    | 日経ビジネスWebアプリ
        ul.listSecond
            li
                a(href='#')
                    img(src='../../images/onb/2019/sp/menuBuger2.svg', alt='')
                    | 日経ビジネス誌面ビューアー
        ul.listThird
            li
                a(href='#')
                    i.iconSvg.iconFb
            li
                a(href='#')
                    i.iconSvg.iconTw
            li
                a(href='#')
                    i.iconSvg.iconIn
        a(href='#').btnLogout
            | ログアウト
