aside.asideLeft
    block aside_left
        section
            include aside_left/_noguchi
        section
            include aside_left/_compare_laste_year
        section
            include aside_left/_date_number
