aside.asideLeft
    block aside_left
        section
            include aside_left/_noguchi_2
        section
            include aside_left/_today_data
        section
            include aside_left/_latest_issue
        section
            include aside_left/_global_news
