footer
	nav.localFooter
		.footerLogo
			a(href='#')
				img(src='../../images/v1/logofooter.svg', alt='')
		ul
			li
				a(href='#') 〇〇〇〇〇〇
			li
				a(href='#') 〇〇〇〇〇〇
			li
				a(href='#') 〇〇〇〇〇〇
			li
				a(href='#') 〇〇〇〇〇〇
			li
				a(href='#') 〇〇〇〇〇〇
			li
				a(href='#') 〇〇〇〇〇〇
	.footerCopyright Copyright © Nikkei Business Publications, Inc. All Rights Reserved.