footer.mainFooter
    .corpLogo
        ul
            li
                a(href='/')
                    img.corpImgLogo(src='../../images/onb/2019/logo_pc.svg', alt='')
            li
                a(href='#')
                   i.iconSvg.iconFb
            li
                a(href='#')
                    i.iconSvg.iconTw
            li
                a(href='#')
                    i.iconSvg.iconIn
        .corpLogoButton
            a.btncorpLogo1(href='#') サイトTOP
            a.btncorpLogo2(href='#') ログイン
    nav.localFooter
        .localFooterSubFirst
            .localFooterLeft
                ul.BorderLeftRed.localFooterlist1
                    li.head
                        | 記事一覧
                    li
                        a(href='#') 新着
                    li
                        a(href='#') 特集
                    li
                        a(href='#') タグ
                    li
                        a(href='#') Special Issue
                ul.localFooterlist2
                    li
                        a(href='#') 連載
                    li
                        a(href='#') 著者
                    li
                        a(href='#') ランキング

            .localFooterRight
                .row1
                    ul.BorderLeftRed.localFooterlist1
                        li
                            a(href='#') Raise

                    ul.BorderLeftRed.localFooterlist2
                        li.head
                            | 雑誌一覧
                        li
                            a(href='#') 最新号目次
                    ul.localFooterlist3
                        li
                            a(href='#') バックナンバー
                .row2
                    ul.BorderLeftRed.localFooterlist4
                        li
                            a(href='#') オンラインゼミナール
                    ul.BorderLeftRed.localFooterlist5
                        li.head
                            | 関連サイト
                        li
                            a(href='#') 日経新聞電子版
        .localFooterSubSecond
            ul.BorderLeftRed.localFooterlist1
                li.head
                    | 日経ビジネス電子版
                li
                    a(href='#') このサイトについて
                li.lastitem
                    a(href='#') アクセス履歴の利用について
            ul.localFooterlist2
                li
                    a(href='#') 利用ガイド
                li
                    a(href='#') 登録情報の更新
            ul.localFooterlist3
                li
                    a(href='#') 会員機能の詳細
                li
                    a(href='#') 雑誌のお届け先の変更
            ul.localFooterlist4
                li.localFooterlist4New
                    a(href='#') よくある質問・お問い合わせ
                li
                    a(href='#') 会員登録/購読申し込み
            ul.localFooterlist5
                li
                    a(href='#') 利用規約
                li
                    a(href='#') マイペーシ
footer.footer2.footer2New
    nav.globalFooter
        a(href='/')
            img.globalImgFooter(src='../../images/onb/2019/bpLogo.svg', alt='')
        ul
            li
                a(href='#') 会社案内
            li
                a(href='#') 個人情報について
            li
                a(href='#') 著作権について
            li
                a(href='#') 広告ガイド
            li
                a(href='#') 日経ID利用案内
        ul.single
            li
                a(href='#') モバイル版に切り替え
    section.copyright
        p
            | Copyright © Nikkei Business Publications, Inc. All Rights Reserved.
