head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
    meta(charset='utf-8')
    meta(name='viewport', content='width=1280px, user-scalable=no')
    block title
        title 【記事タイトル＊1】：【サイト名】
    block lib_css
    link(href='../../css/v1/style.css', rel='stylesheet')