doctype html
html(lang='ja')
	include header.jade
	body
		#wrapper
			.content
				block content
		script(src='../../js/bpcommon/jquery-3.x-min.js')
		block lib_js
		script(src='../../js/onb/2019/common.js')