.articleAuthor
    .articleAuthorHeader
        .articleAuthorHeaderTitle.panelIndent
            | ア行
    .articleAuthorBody
        ul.articleAuthorList2
            - for (var i=0; i<4; i++)
                li
                    a(href='#')
                        section.articleAuthorItem2.panelIndent
                            .articleAuthorItem2Img
                                .avatarCicrle.sizeFortyEight
                                    img(src='../../images/onb/2019/sp/Oval.png',alt='')
                            .articleAuthorItem2Content
                                p.name
                                    | 青木 恵美
                                p.desciption
                                    | ITライター／コラムニスト