- var keywords = ["ア", "カ",'サ','タ','ナ','ハ','マ','ヤ',"ア", "カ",'サ','タ','ナ','ハ','マ','ヤ'];
.slickKeywordsChara
    a(href='#') ア
    a(href='#') カ
    a(href='#') サ
    a.active(href='#') タ
    for key in keywords
        a(href='#')= key