extends ../shared/layout_blank.jade

block lib_css

block lib_js
	script(src='../../js/onb/2019/lib/simplebar.js')

block title
	title 397_投票バリエーション

block content
	article
		.progressBarBox
			.titleThemePage
				h2 投票 バリエーション
			section.panelIndent
				include ../shared/leaf_content/progress_bar_theme/_progress_bar_1
			section.panelIndent
				include ../shared/leaf_content/progress_bar_theme/_progress_bar_2
			section.panelIndent
				include ../shared/leaf_content/progress_bar_theme/_progress_bar_3
			section.panelIndent
				include ../shared/leaf_content/progress_bar_theme/_progress_bar_4
			section.panelIndent
				include ../shared/leaf_content/progress_bar_theme/_progress_bar_5