extends ../shared/layout_300.jade

block title
	title 301_子記事_02ログイン済み有料会員 特集＋エンベット・Raise記事リンク

block content
	.relatedForumListHeader
		h2 関連フォーラム
	.panelIndent
		include ../shared/component/_related_forum_list

		include ../shared/component/_serial_list