a(href="#").imageTitle
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.divOverlayIE
	.categoryLabelSecond オンラインゼミナール
	.textTitle 〇〇氏が語る講座タイトルが入ります
	.onenbBtnFollow
		.onenbBtnFollowContent
			img(src='../../images/onb/2019/plusIcon.png', alt='')
			span.onenbBtnFollowText 講座をフォロー
	.modalIcon
		img(src='../../images/onb/2019/modalIcon.png', alt='')
.mainHeader
	p.shoulder 第3回
	h1 パーソナライズサービスを成功させたネスレのイノベーション
		i.icon.iconMovie
	.leafAuthor
		.authorAvatar
			.avatarCicrle.sizeForty
				img(src='../../images/onb/2019/Oval15.png', alt='')
		.authorInfo
			.authorName
				.fullName 谷口 徹也
			.authorLevel 日経ビジネスベーシック編集長
	.leafActionInfo
		.leafInfo
			time 2018年8月24日公開
			.likeAndComment
					img(src='../../images/onb/2019/commentIcon.png', alt='')
					span.firstElement 12
					img(src='../../images/onb/2019/likeIcon.png', alt='')
					span.firstElement 70%
					img(src='../../images/onb/2019/iconPen.png', alt='')
					span 
						b 45人が受講

		.leafAction
			.boxSocial
				ul.social
					li
						a(href='#')
							.btnLabel
								img(src='../../images/onb/2019/printIcon.png', alt='')
							.titleLabel 印刷
					li
						a(href='#')
							.btnLabel
								img(src='../../images/onb/2019/viewerIcon.png', alt='')
							.titleLabel 誌面で読む
					li
						a(href='#')
							.btnLabel
								img(src='../../images/onb/2019/fileRedIcon.png', alt='')
							.titleLabelRed クリップ中