.bpbox_centerSecond
    p.imgCap セミナームービー
    img(src='../../images/onb/2019/img_2_bigger.png',alt='')
    .overlayWhite
    .overlayReadMore
        a(href='#') 続きを読む
            i.icon.iconReplyDown