.bpbox_center
	.bpimage_center
		.bpimage_title セミナームービー
		.bpimage_image
			a(href="#")
				.imgYoutube 
					img(src='../../images/onb/2019/img_2_bigger.png', alt='')
					a(href="#").iconYoutube
						img(src='../../images/onb/2019/iconYoutube.svg', alt='')
					.textTime 25:00

		.bpimage_caption キャプションが入ります。キャプションが入ります。
p タイのバンコクから車で1時間ほど東に入ったラッカバン工業団地に、三菱重工業のエアコン生産を手掛けるミツビシ・ヘビーインダストリーズ・マハジャック・エアコンディショナーズ（MACO）社の工場がある。<br>エアコンを組み立てるタイ人従業員らは大忙しだ。2017年の生産台数は10年前に比べると2.4倍。18年2月には約30億円を投じて建設した2つの工場が新たに稼働した。

p 破格の融資スキームを設計した責任者を追った。まず、財投をJR東海に貸し付けている鉄道建設・運輸施設整備支援機構に聞いた。電話口で「うちは事務をしているだけで、来てもらっても何も話せません」という。それでも横浜市にある本社を訪ねると、組織の説明はするが、財投に話を向けた瞬間、「それは国交省でお答えいただいている」と繰り返すばかり。

p   ところが、国交省の幹線鉄道課に足を運んでも、「財投の専門家ではないし、融資スキームなど説明できない」という。そこで、財務省理財局の財投総括課に聞くと、「僕らが（融資条件を）設定しているわけではない。国交省さんじゃないですか」と堂々巡りになる。<br>「僕らが（融資条件を）設定しているわけではない。国交省さんじゃないですか」と堂々巡りになる。