.loginForRead.loginSemiTwo
	.loginForReadTitle
		p 講座を記録することで受講の傾向をレーダーチャートでチェックできます。
	.loginForReadAction
		ul
			li
				.btnRedBorderPcThree.showChart 受講を記録
				a(href="#").btnRedGradientPc.oneButton.arrowDown.elementHide 受講済み
	.loginChart.elementHide
		.loginContent 
			.contentTitle あなたは〇〇な〇〇タイプ
			.contentDecription 説明テキスト説明テキスト<br>説明テキスト説明テキスト説明テキスト<br>説明テキスト説明テキスト
		.loginChartCanvas
			canvas#canvasChart