.commentBox.commentListSecond
	h5 コメント
	.commentContentSecond
		ul
			li
				.commentSection
					.commentItemLeft
						i.icon.iconFill
						a(href="#")
							.avatarCicrle.sizeForty
								img(src='../../images/onb/2019/Oval40.png', alt='')
					.commentItemRight
						.commentItemRightOption
							.glowComment 
								img(src='../../images/onb/2019/iconStarRed.png', alt='')
								| 光るコメント
							a(href='#').iconBall
								img(src='../../images/onb/2019/commentFunction.png', alt='')
						p.textAuthor 吉野 次郎
						p.textAuthorTitle 日本経済新聞社記者
						.commentItemRightContent 具体的に他のメーカーがいくら値上げするかは決まっていますか？(最終的に値段を決定する以上、値上げ後の相場をおさえておきたいです。)
						.commentIcon
							span.commentTime 10分前
							span.commentlike
								a(href='#')
									i.icon.iconLike 
									|  18
							span.commentReply
								a(href='#')
									| 返信
							span.commentVoteLike
								a(href='#')
									| いいね！
				ul.replySection
					li
						.replyItemLeft
							a(href="#")
								.avatarCicrle.sizeThirtyTwo
									img(src='../../images/onb/2019/Oval5.png', alt='')
						.replyItemRight
							a(href='#').iconBall
								img(src='../../images/onb/2019/commentFunction.png', alt='')
							p.textAuthor 吉野 次郎
							p.textAuthorTitle 日本経済新聞社記者
							.replyItemRightContent
								| 返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。
							.commentIcon
								span.commentTime 10分前
								span.commentlike
									a(href='#')
										i.icon.iconLike 
										|  18
								span.commentReply
									a(href='#')
										| 返信
								span.commentVoteLike
									a(href='#')
										| いいね！
					li
						.replyItemLeft
							a(href="#")
								.avatarCicrle.sizeThirtyTwo
									img(src='../../images/onb/2019/Oval5.png', alt='')
						.replyItemRight
							a(href='#').iconBall
								img(src='../../images/onb/2019/commentFunction.png', alt='')
							p.textAuthor 吉野 次郎
							p.textAuthorTitle 日本経済新聞社記者
							.replyItemRightContent
								| 返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。返信コメントが入ります。
							.commentIcon
								span.commentTime 10分前
								span.commentlike
									a(href='#')
										i.icon.iconLike 
										|  18
								span.commentReply
									a(href='#')
										| 返信
								span.commentVoteLike
									a(href='#')
										| いいね！
	.allCommentButton
		a(href="#")
			| 全てのコメント


				
