.commentBox.zeroComment
	.commentContent
		ul
			li
				.commentItemLeft
					a(href="#")
						.avatarCicrle.sizeThirtyTwo
							img(src='../../images/onb/2019/Oval6.png', alt='')
				.commentItemRight
					p.textAuthor 北西 厚一
					p.textAuthorTitle 日経ビジネス編集部
	.buttomCommentBoxZero このコメントは削除されました
	.buttomCommentBoxZeroSub このコメントは削除されました
							