.commentBox.commentForm
	h5 まだコメントはありません
	form.frmComment
		a(href="#")
			.avatarCicrle.sizeThirtyTwo
				img(src='../../images/onb/2019/Oval4.png', alt='')
		textarea(placeholder='コメントを追加…' )
		button(type='submit',value='') 送信