header.myPageHeader
    .myPageHeaderLeft
        .myPageHeadLeftImg
            .avatarCicrle.sizeSeventyTwo
                img(src='../../images/onb/2019/author_profile.png', alt='')
        .myPageHeadLeftContent
            p.textAuthortitle 有料会員
            h5 日経 太郎
                span 様
            p
                | 表示名：日経 義太夫
    .myPageHeaderRight
        a.btn(href='#')
            | 設定
            img(src='../../images/onb/2019/imageNumberIcon.png', alt='')