li.clip
    .itemleft
        p.date 2018.MM.DD
        a(href="#")
            p.parentTitle 親記事タイトル
            p.title タイトルが入ります。タイトルが入ります。タイトルが入ります32w
            p.description
        a.itemCreate(href='#') メモを追加
        form.frmItemEditNote
            textarea
            button.itemDecision 決定
            button.itemCancel キャンセル


    .itemRight
        a.itemClose(href='#')
            i.icon.incon_close_20x20
            | 削除
        a.imgLink(href='#')
            img(src='../../images/onb/2019/Rectangle_3.png', alt='')