li.clip
    .itemleft
        p.date 2018.MM.DD
        p.parentTitle 親記事タイトル
        p.title タイトルが入ります。タイトルが入ります。タイトルが入ります32w
        form.frmComment(action ='#')
            textarea.frmInput テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。|
            .optionBtn
                a(href="#").btnDecision 決定
                a(href="#").btnCancel キャンセル

    .itemRight
        a.itemClose(href='#')
            i.icon.incon_close_20x20
            | 削除
        img(src='../../images/onb/2019/Rectangle_3.png', alt='')