.progressBar
	h5 この記事は…
	.progressChart
		.myProgress
			.myBar(data-progress='70%')
	.progressContent
		.progressHelpfull
			p
				| 参考になった
				span
					| 350
				| 人
				span.numberPercent （70%)
		.progressUseless
			p
				| 参考にならなかった
				span
					| 150
				| 人
				span.numberPercent （30%)
	.icon.iconDisLike.centerStyleFive
		| 参考にならなかったに投票しました