.aloneLoginForRead
	.loginForRead
		.loginForReadTitleCus.readTitleBold この記事は有料会員限定です
		.loginForReadTitleCus 日経 太郎 様は登録会員です今月は閲覧できる上限本数に達しました
		.loginForReadTitleCus.readTitleSmall 有料会員になると全ての記事が閲覧可能です
		.loginForReadAction
			ul
				li.oneButton
					.loginForReadBtn
						a(href="#").btnGreenGradientPc.btnPadding 有料会員のお申し込み

