.aloneLoginForRead
	.loginForRead
		.loginForReadTitleCus.readTitleBold この記事は有料会員限定です
		.loginForReadTitleCus 日経 太郎 様 は無料会員です今月はあと<b>１本</b>閲覧できます
		.loginForReadTitleCus.readTitleSmall 有料会員になると全ての記事が閲覧可能です
		.loginForReadAction
			ul
				li
					.loginForReadBtn
						a(href="#").btnRedBorderPc 全文表示
				li
					.loginForReadBtn
						a(href="#").btnGreenGradientPc 有料会員のお申し込み

