.boxSocial
	ul.social
		li
			a.facebookLink(href='#')
				.btnLabel
				.titleLabelFb シェア
		li
			a.twitterLink(href='#')
				.btnLabel
				.titleLabelTw シェア
		li
			a#popupAuthor.giftLink.isClose(href='#')
				.btnLabel
				.titleLabelGt ギフトシェア
		li
			a.urlLink(href='#')
				.btnLabel
				.titleLabelUl URLコピー
		li
			a.fileLink.isClose(href='#')
				.btnLabel
				.titleLabelFe クリップ中