a(href="#").imageTitle
	.imageTitleBlur(style='background-image: url("../../images/onb/2019/blur_title.jpg")')
	.divOverlayIE
	.categoryLabel 連載
	.textTitle 技術経営――日本の強み・韓国の強み
	.onenbBtnFollow
		.onenbBtnFollowContent
			img(src='../../images/onb/2019/plusIcon.png', alt='')
			span.onenbBtnFollowText 連載をフォロー
	.modalIcon
		img(src='../../images/onb/2019/modalIcon.png', alt='')
.mainHeader
	p.shoulder PART 5
	.headerLabel 電子版限定
	h1.titleBP BPタグ　子記事コンポーネント一覧
	p.subTitle サブタイトルサブタイトルサブタイトルサブタイトルサブタイトル
	.leafAuthor
		.authorAvatar
			.avatarCicrle.sizeForty
				img(src='../../images/onb/2019/author_avatar.png', alt='')
		.authorInfo
			.authorName
				.fullName 谷口 徹也
				.numberImages
					span 他 3名
					img(src='../../images/onb/2019/imageNumberIcon.png', alt='')
			.authorLevel 日経ビジネスベーシック編集長
	.leafActionInfo
		.leafInfo
			time 2018年8月24日
			.leafLockIcon.iconClose
			.likeAndComment
				img(src='../../images/onb/2019/commentIcon.png', alt='')
				span.firstElement 12
				img(src='../../images/onb/2019/likeIcon.png', alt='')
				span.firstElement 70%
				img(src='../../images/onb/2019/comment_raise.png', alt='')
				span.firstElement
					b 45人が参加
				img(src='../../images/onb/2019/comment_pen.png', alt='')
				span
					b 45人が受講
		.leafAction
			.boxSocial
				ul.social
					li
						a.facebookLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/printIcon.png', alt='')
							.titleLabel 印刷
					li
						a.twitterLink(href='#')
							.btnLabel
								img(src='../../images/onb/2019/viewerIcon.png', alt='')
							.titleLabel 誌面で読む
					li.clipPaperButton
						a.fileLink.isOpen.showTooltip(href='#')
							.btnLabel
							.titleLabelFe クリップ中
						.paperBackground クリップしました