.panelIndent
    p.subTitle 著者
    .leafProfile
        .profileAvatar
            .profileCicrle
                .avatarCicrle.sizeSeventyTwo
                    img(src='../../images/onb/2019/profile_avatar.png', alt='')
        .profileInfo
            h5 谷口 徹也
            span たにぐち・てつや
            p 日経ビジネスベーシック編集長
    .leafProfile
        .profileFollowAuthor
            span 325人がフォロー中
            a(href='#') 著者をフォロー