$color--242424: #242424;
$color--E6001E: #E6001E;
$color--666666: #666666;
$color--F2F2F2: #F2F2F2;
$color--EAEAEA: #EAEAEA;
$color--FFFFFF: #FFFFFF;
$color--F6F6F6: #F6F6F6;
$color--EEEEEE: #EEEEEE;
$color--7a7a7a: #7a7a7a;
$color--ceb954: #ceb954;
$color--dddddd: #dddddd;
$color--2a2a2a: #2a2a2a;
$color--444444: #444444;
$color--fffcf8: #fffcf8;
$color--f2f6f8: #f2f6f8;
$color--000000: #000000;
$color--e52120: #e52120;
$color--c4b14f: #c4b14f;
$color--367a82: #367a82;
$color--18ada6: #18ada6;
$color--e60825: #e60825;