@import "color";
@import "font_size";
@import "font_family";
@import "icon";
@import "button";

.panelIndent{
	margin: 0 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	font-family: $font--default;
	font-size: $font--15;
	color: $color--242424;
	background-color: $color--FFFFFF;
	input, textarea, select, button{
		font-size: $font--15;
		font-family: $font--default;
	}
	a{
		color: inherit;
		text-decoration: none;
	}
	p{
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding-inline-start: 0;
	}
	ul{
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding-inline-start: 0;
		padding-left: 0;
		margin: 0;
	}

	header{
		clear: both;
	}

	body {
		margin: 0;

		h1,h2,h3,h4,h5 {
			font-size: 0;
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0;
			margin-inline-end: 0;
		}
	}

	.smallScreenMode .panelIndent {
		margin: 0 8px;
	}

	.popupClassHide {
		display: none;
	}

	.elementHide {
		display: none;
	}

	.simple-popup-content {
		padding: 0;
		background: transparent !important;
		overflow: inherit;
	}

	.simple-popup-content {
		.close {
			&:before {
				color: $color--FFFFFF;
			}
		}
	}

	.slick-dots li.slick-active button:before {
		opacity: 1;
	}
}

h2.titleBox {
	font-size: 20px;
	font-weight: bold;
	position: relative;
	margin: 60px 0 20px 0;
	&:after {
		content: " ";
	    background-color: $color--E6001E;
	    position: absolute;
	    top: -20px;
	    left: 0;
	    width: 40px;
	    height: 3px;
	}
}

.avatarCicrle {
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
		min-height: 100%;
	}
	&.sizeSeventyTwo {
		width: 72px;
		height: 72px;
	}
	&.sizeFiftySix {
		width: 56px;
		height: 56px;
	}
	&.sizeFiftyFive {
		width: 55px;
		height: 55px;
	}
	&.sizeForty {
		width: 40px;
		height: 40px;
	}
	&.sizeFortyEight {
		width: 48px;
		height: 48px;
	}
	&.sizeThirtySix {
		width: 36px;
		height: 36px;
	}
	&.sizeThirtyTwo {
		width: 32px;
		height: 32px;
	}
	&.sizeTwentyFour {
		width: 24px;
		height: 24px;
	}
}

.profileCicrle img{
	border-radius: 50%;
}
img.timeIcon {
	margin-left: 8px;
}

.imageTitleBlur {
	height: 100%;
	width: 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: absolute;
}
.overlayGradient {
    width: 100%;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(2%,rgba(255,255,255,.01)),color-stop(3%,rgba(0,0,0,.01)),color-stop(11%,rgba(0,0,0,.04)),color-stop(33%,rgba(0,0,0,.21)),color-stop(73%,rgba(0,0,0,.61)),color-stop(100%,rgba(0,0,0,.87)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.01) 2%,rgba(0,0,0,.01) 3%,rgba(0,0,0,.04) 11%,rgba(0,0,0,.21) 33%,rgba(0,0,0,.61) 73%,rgba(0,0,0,.87) 100%);
}

a.less,
a.more {
	color: #666666 !important;
	&:after {
		display: none !important;
	}
}