
.twoItemControl
	.item
		a(href="#").itemleft
			img(src='../../images/onb/2019/backRed.png', alt='')
			h5 PART 1
			p 尻に火がついた日本の小売り大手 止まらないアマゾンの進化
		a(href="#").itemRight
			img(src='../../images/onb/2019/arrowAuthorPopup.png', alt='')
			h5 PART 3
			p 衣料の店舗離れ鮮明 独自調査で見えたネットシフトの実態
